{% extends 'page.html.twig' %}
{% block title %}Propositions de contrat{% endblock %}
{% block body %}
    <div class="contrats" style="margin-top: 20px;">
        <h2 class="ui center aligned green header">
            <div class="content">Propositions reçues</div>
        </h2>
        <div id="contratsList" class="ui segment stacked divided items">
            <div class="ui placeholder">
                <div class="image header">
                    <div class="short line"></div>
                    <div class="medium line"></div>
                </div>
            </div>
            <div class="ui placeholder">
                <div class="image header">
                    <div class="short line"></div>
                    <div class="medium line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="candidatures" style="margin-top: 20px;">
        <h2 class="ui center aligned green header">
            <div class="content">Candidatures envoyées</div>
        </h2>
        <div id="candidaturesList" class="ui segment stacked divided items">
            <div class="ui placeholder">
                <div class="image header">
                    <div class="short line"></div>
                    <div class="medium line"></div>
                </div>
            </div>
            <div class="ui placeholder">
                <div class="image header">
                    <div class="short line"></div>
                    <div class="medium line"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type='text/javascript'>
        window.addEventListener("DOMContentLoaded", (event) => {
            loadContrats();
            loadCandidatures();
        });

        // Charge les contrats dans la vue contrat et les affiche
        function loadContrats() {
            $.ajax({
                url: '/particulier/get/propositions',
                type: 'POST',
                dataType: 'json',
                success: function (results) {
                    displayContrats(results)
                }
            });
        }

        // Charge les candidatures dans la vue contrat et les affiche
        function loadCandidatures() {
            $.ajax({
                url: '/particulier/get/candidatures',
                type: 'POST',
                dataType: 'json',
                success: function (results) {
                    displayCandidatures(results)
                }
            });
        }

        /*
         * classe correspondant à l'item proposition de contrat affiché dans la vue contrats
         */
        class Contrat {
            constructor(id, nom, ville, updatedAt, date, description) {
                if (!nom.length > 0) nom = 'Annonce n°' + id;
                if (ville.length > 0) ville = ' à ' + ville;
                date = date.substr(0, 10).split('-');
                date = date[2] + '-' + date[1] + '-' + date[0];
                description = truncate(description, MAX_DESCRIPTION_LENGTH, true)
                var url = "{{ path('particulier_show_annonce', {'id': 1}) }}".slice(0, -1) + id;

                this.contratTemplate = `
                <div class="contrat ui item">
                    <div class="content">
                        <div class="ui left floated">
                            <div class="ui header small">${nom}${ville}</div>
                            <div class="meta">
                                <span class="date">Pour le ${date}</span>
                            </div>
                        <div class="description">${description}</div>
                        </div>
                        <div class="extra">
                            <div class="ui right floated buttons">
                                <button id="denyBtn${id}" class="ui red basic button undoBtn" onclick="requestDenyContrat(${id})">Refuser</button>
                                <button id="acceptBtn${id}" class="ui green basic button undoBtn" onclick="requestAcceptContrat(${id})">Accepter</button>
                                <a href="${url}" class="ui blue basic button btnAccept">Voir</a>
                            </div>
                        </div>
                    </div>
                </div>`;
            }
        }

        /*
         * classe correspondant à l'item candidature dans la vue contrats
         */
        class Candidature {
            constructor(id, nom, rue, codePostal, ville, createdAt, date, description) {
                if (!nom.length > 0) nom = 'Annonce n°' + id;
                if (ville.length > 0) ville = ' à ' + ville;
                date = date.substr(0, 10).split('-');
                date = date[2] + '-' + date[1] + '-' + date[0];
                description = truncate(description, MAX_DESCRIPTION_LENGTH, true)
                var url = "{{ path('particulier_show_annonce', {'id': 1}) }}".slice(0, -1) + id;

                this.candidatureTemplate = `
                <div class="candidature ui item">
                    <div class="content">
                        <div class="ui left floated">
                            <div class="ui header small">${nom}${ville}</div>
                            <div class="meta">
                                <span class="date">Pour le ${date}</span>
                            </div>
                        <div class="description">${description}</div>
                        </div>
                        <div class="extra">
                            <div class="ui right floated buttons">
                                <button id="undoBtn${id}" class="ui red basic button undoBtn" onclick="requestUncandidate(${id})">Annuler</button>
                                <a href="${url}" class="ui blue basic button btnAccept">Voir</a>
                            </div>
                        </div>
                    </div>
                </div>`;
            }
        }

        // ----- Décandidature ----- //
        // /particulier/uncandidate/{id}
        // L'AutoEntrepreneur supprime sa candidature à l'Annonce id => {'result': boolean}
        function requestUncandidate(id) {
            $.ajax({
                url: '/particulier/uncandidate/'+ id,
                type: 'POST',
                dataType: 'json',
                success: function () {
                    var btnNo = 'undoBtn' + id
                    var btn = document.getElementById(btnNo)
                    btn.innerHTML = 'Annulée'
                    btn.classList.add('disabled')
                }
            });
        }

        // ----- Refus proposition contrat ----- //
        // Refuse proposition contrat
        // /particulier/refuse/proposition/{id}
        // L'AutoEntrepreneur refuse la proposition de l'Annonce id => {'result': boolean}
        function requestDenyContrat(id) {
            $.ajax({
                url: '/particulier/refuse/proposition/' + id,
                type: 'POST',
                dataType: 'json',
                success: function () {
                    var btnDenyNo = 'denyBtn' + id
                    var btnAcceptNo = 'acceptBtn' + id
                    var btnAccept = document.getElementById(btnAcceptNo)
                    var btnDeny = document.getElementById(btnDenyNo)
                    btnDeny.innerHTML = 'Refusée'
                    btnAccept.classList.add('disabled')
                    btnDeny.classList.add('disabled')
                }
            });
        }

        // ----- Acceptation proposition contrat ----- //
        // /particulier/accept/proposition/{id}
        // L'AutoEntrepreneur accept la proposition de l'Annonce id => {'result': boolean}
        function requestAcceptContrat(id) {
            $.ajax({
                url: '/particulier/accept/proposition/' + id,
                type: 'POST',
                dataType: 'json',
                success: function () {
                    var btnDenyNo = 'denyBtn' + id
                    var btnAcceptNo = 'acceptBtn' + id
                    var btnAccept = document.getElementById(btnAcceptNo)
                    var btnDeny = document.getElementById(btnDenyNo)
                    btnAccept.innerHTML = 'Acceptée'
                    btnAccept.classList.add('disabled')
                    btnDeny.classList.add('disabled')
                }
            });
        }

        // Affiche la liste des contrats dans la vue contrats
        var contratsList = document.getElementById('contratsList');

        function displayContrats(results) {
            // Réinitialise la liste
            contratsList.innerHTML = '';

            // Il n'y a pas de résultats :
            if (results.propositions == undefined || results.propositions.length == 0) {
                contratsList.innerHTML = `<div>Pas de proposition de contrat.</div>`;
            }
            // Il y a des résultats :
            // Pour chaque proposition
            results.propositions.forEach(proposition => {
                var card = new Contrat(proposition.identity, proposition.nom, proposition.adresse.ville, proposition.updatedAt, proposition.date, proposition.description);
                contratsList.innerHTML += card.contratTemplate;
            })
        }

        // Affiche la liste des candidatures dans la vue contrats
        var candidaturesList = document.getElementById('candidaturesList');

        function displayCandidatures(results) {
            // Réinitialise la liste
            candidaturesList.innerHTML = '';
            // Il n'y a pas de résultats :
            if (results.candidatures === undefined || results.candidatures.length == 0) {
                candidaturesList.innerHTML = `<div>Pas de candidatures.</div>`;
            }

            // Il y a des résultats :
            results.candidatures.forEach(candidature => {
                var card = new Candidature(candidature.identity, candidature.nom, candidature.adresse.rue, candidature.adresse.codePostal, candidature.adresse.ville, candidature.createdAt, candidature.date, candidature.description);
                candidaturesList.innerHTML += card.candidatureTemplate;
            })
        }
    </script>
{% endblock %}