{% extends 'page.html.twig' %}
{% block title %}FealJob - Créer une carte de Visite{% endblock %}
{% block body %}
    <div class="ui text justified container">
        <h3 class="ui center aligned icon header">
            <i class="address card outline icon"></i>
            Nouvelle carte de visite
        </h3>
        <form class="ui form segment" method="post">
            <div class="inline field">
                <label>Nom de la carte :</label>
                <div class="ui input">
                    <input type="text" name="nomCV" value="">
                </div>
            </div>
            <div class="inline field">
                <label>Types de contrat :</label>
                <select class="ui dropdown" name="typeContrat">
                    <option value=""></option>
                </select>
            </div>
            <!-- Identité -->
            <h4 class="ui dividing header">Identité</h4>
            <div class="ui two column grid">
                <div class="ui four wide column">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <i class="pencil icon"></i>
                                </div>
                            </div>
                        </div>
                        <img src=""
                             alt="photo de profil"
                             class="ui small circular dimmable image">
                    </div>
                </div>
                <div class="ui twelve wide column">
                    <div class="two fields">
                        <div class="field disabled">
                            <label>Prénom</label>
                            <input type="text" name="prenom" value="">
                        </div>
                        <div class="field disabled">
                            <label>Nom</label>
                            <input type="text" name="nom" value="">
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Né le</label>
                            <input type="text" name="dateNaissance" placeholder="18/09/1989"/>
                        </div>
                        <div class="field">
                            <label>Métier</label>
                            <select class="ui dropdown" name="metier">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class=" two fields">
                        <div class="eight wide field">
                            <label>Sexe</label>
                            <select class="ui dropdown" name="sexe">
                                <option value="N">Non précisé</option>
                                <option value="H">Homme</option>
                                <option value="F">Femme</option>
                            </select>
                        </div>
                        <div class="float right eight wide field">
                            <label>Photo de profil</label>
                            <div class="ui small basic icon buttons">
                                <label style="width: 150px;" class="ui button" for="photo-profil">
                                    <i class="paperclip icon"></i>
                                    Sélectionner
                                    <input type="file" style="display: none;" id="photo-profil"
                                           name="photoProfil">
                                </label>
                                <button class="ui button"><i class="times icon"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="two fields">
                    <div class="field">
                        <label>E-mail</label>
                        <div class="ui left icon input">
                            <i class="icon envelope"></i>
                            <input type="text" name="mail" placeholder="Email" value="">
                        </div>
                    </div>
                    <div class="field">
                        <label>Téléphone</label>
                        <div class="ui left icon input">
                            <i class="icon phone"></i>
                            <input type="text" name="telephone" placeholder="Téléphone" value="">
                        </div>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Adresse</label>
                        <div class="ui left icon input">
                            <i class="icon home"></i>
                            <input type="text" name="adresse" placeholder="16 rue des Coquillages">
                        </div>
                    </div>
                    <div class="field">
                        <label>Situation familiale</label>
                        <select class="ui dropdown" name="famille">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- Formation -->
            <h4 class=" ui dividing header">Formation</h4>
            <div class="two fields">
                <div class="field">
                    <label>Intitulé du diplôme</label>
                    <input type="text" name="diplomes" placeholder="Intitulé du diplôme">
                </div>
                <div class="field">
                    <label>Nom de l'établissement</label>
                    <input type="text" name="nomEtablissements"
                           placeholder="Nom de l'établissement">
                </div>
            </div>
            <div class="field">
                <label>Date d'obtention</label>
                <input type="text" name="dates" placeholder="26/04/2013">
            </div>
            <!-- Expérience -->
            <h4 class="ui dividing header">Expérience professionnelle</h4>
            <div class="two fields">
                <div class="field">
                    <label>Intitulé du poste</label>
                    <div class="field">
                        <input type="text" name="postes" placeholder="Intitulé du poste">
                    </div>
                </div>
                <div class="field">
                    <label>Nom de l'entreprise</label>
                    <div class="field">
                        <input type="text" name="nomEntreprises" placeholder="Nom de l'entreprise">
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Durée</label>
                <input type="text" name="durees" placeholder="Duree">
            </div>
            <!-- Autres -->
            <h4 class="ui dividing header">Autres informations</h4>
            <div class="ui segment">
                <div class="field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" name="permisB" class="hidden">
                        <label>Je dispose du permis B</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" name="transport" class="hidden">
                        <label>J'ai un moyen de transport</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="ui fluid large green submit button">Enregistrer</button>
            <div class="ui negative message transition hidden">
                <i class="close icon"></i>
                <div class="header">
                    Erreur !
                </div>
                <p>
                    {% for message in app.flashes('fail') %}

                    {% endfor %}
                </p>
            </div>
        </form>
    </div>
{% endblock %}
