{% extends 'page.html.twig' %}
{% block title %}FealJob - Créer une carte de Visite{% endblock %}
{% block body %}
    <div class="ui text justified container">
        <h3 class="ui center aligned icon header">
            <i class="address card outline icon"></i>
            Nouvelle carte de visite
        </h3>
        <form class="ui form segment" method="post" enctype="multipart/form-data">
            <label class="ui blue labeled icon button" for="profile-carte">
                <i class="download icon"></i>
                Télécharger votre carte de visite
                <input href="{{ path('create_carte') }}" type="file" style="display: none;" id="profile-carte" name="carte">
            </label>
            <button type="submit" class="ui green submit button">Enregistrer</button>
            <div class="ui negative message transition hidden">
                <i class="close icon"></i>
                <div class="header">
                    Erreur !
                </div>
                <p>
                    {% for message in app.flashes('fail') %}

                    {% endfor %}
                </p>
            </div>
        </form>
    </div>
{% endblock %}
