{% extends 'page.html.twig' %}
{% block title %}FealJob - Créer une offre de chantier{% endblock %}
{% block body %}
    <div class="ui text justified container">
        <h3 class="ui center aligned icon header">
            <i class="dolly icon"></i>
            Nouvelle offre de chantier
        </h3>
        <form class="ui form segment" method="post">
            <div class="required field">
                <label>Intitulé du poste</label>
                <input required type="text" name="nom" placeholder="Intitulé du poste">
            </div>
            <div class="required field">
                <label>Localisation du chantier</label>
                <input required type="text" name="lieu" placeholder="Localisation du chantier">
            </div>
            <div class="two fields">
                <div class="field required">
                    <label>Date début</label>
                    <input required name="dateD" placeholder="jj/mm/aaaa" type="date">
                </div>
                <div class="field" id="dateFinField">
                    <label>Date fin</label>
                    <input required name="dateF" placeholder="jj/mm/aaaa" type="date">
                </div>
            </div>
            <div class="field required">
                <label>Nombre de postes à pourvoir</label>
                <input required type="number" min="1" name="nbRecrutement" placeholder="Nombre">
            </div>
            <div class="field">
                <label>Description</label>
                <textarea name="description" cols="30" rows="4"></textarea>
            </div>
            <div class="ui divider"></div>
            <div class="field">
                <div class="ui toggle checkbox">
                    <input type="checkbox" name="loge" class="hidden">
                    <label>Emploi logé</label>
                </div>
            </div>
            <button class="ui fluid large green submit button" type="submit">Créer</button>
        </form>
    </div>
{% endblock %}