{% extends 'page.html.twig' %}
{% block title %}FealJob - Résultats offres de chantier{% endblock %}
{% block body %}
    <div style="margin-top: 20px  !important; margin-bottom: 40px;" class="ui justified container">
        <div style="margin-bottom: 20px;" class="ui right action left icon fluid input">
            <i class="search icon"></i>
            <input type="text" placeholder="Rechercher">
            <div class="ui basic floating dropdown button">
                <div class="text">Tous les résultats</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="active item">Tous les résultats</div>
                    <div class="item">Offres d'emploi</div>
                    <div class="item">Candidats</div>
                    <div class="item">Auto-entrepreneurs</div>
                </div>
            </div>
            <div class="ui button">Rechercher</div>
        </div>
        <div style="margin-bottom: 10px;" class="ui tiny breadcrumb">
            <a class="section">Home</a>
            <i class="right chevron icon divider"></i>
            <a class="section">Registration</a>
            <i class="right chevron icon divider"></i>
            <div class="active section">Personal Information</div>
        </div>
        <div class="ui grid">
            <div class="three wide column">
                <div class="ui vertical menu">
                    <div class="item">
                        <div class="header">Products</div>
                        <div class="menu">
                            <a class="item">Enterprise</a>
                            <a class="item">Consumer</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="header">CMS Solutions</div>
                        <div class="menu">
                            <a class="item">Rails</a>
                            <a class="item">Python</a>
                            <a class="item">PHP</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="header">Hosting</div>
                        <div class="menu">
                            <a class="item">Shared</a>
                            <a class="item">Dedicated</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="header">Support</div>
                        <div class="menu">
                            <a class="item">E-mail Support</a>
                            <a class="item">FAQs</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="thirteen wide column">
                <div class="ui divided items">
                    <div class="item">
                        <div class="image">
                            <img src="{{ asset('img/placeholders/grey-frame.png') }}">
                        </div>
                        <div class="content">
                            <a class="header">Pâtissier</a>
                            <div class="meta">
                                <span>
                                    <i class="icon map pin"></i>
                                    Aix-les-Bains,
                                </span>
                                <span>du 12/06 au 12/07</span>
                            </div>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam aut
                                    blanditiis delectus distinctio dolor dolorum ducimus molestiae, natus nostrum
                                    perspiciatis quaerat quam repellendus, sapiente vel veniam vitae. Iure, nihil.</p>
                            </div>
                            <div class="extra">
                                <a href="#"
                                   class="ui right floated primary button">
                                    Voir l'annonce
                                    <i class="right chevron icon"></i>
                                </a>
                                <div class="ui label">CDD</div>
                                <div class="ui label">CDI</div>
                                <div class="ui label"><i class="globe icon"></i>Anglais</div>
                            </div>
                        </div>
                    </div>
                    {% for i in 0..6 %}
                        <div class="item">
                            <div class="image">
                                <div class="ui placeholder">
                                    <div class="square image"></div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui placeholder">
                                    <div class="header">
                                        <div class="very short line"></div>
                                        <div class="short line"></div>
                                    </div>
                                    <div class="paragraph">
                                        <div class="ui placeholder">
                                            <div class="line"></div>
                                            <div class="line"></div>
                                            <div class="line"></div>
                                            <div class="line"></div>
                                            <div class="line"></div>
                                            <div class="line"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type='text/javascript'>
        /**
         * Simple (ugly) code to handle the comment vote up/down
         */
        var button = $('.js-vote-arrows');
        button.on('click', function (e) {
            e.preventDefault();
            var $link = $(e.currentTarget);
            $.ajax({
                url: '/comments/10/vote/' + $link.data('direction'),
                method: 'GET'
            }).then(function (response) {
                button.text(response.votes);
            });
        });

        function searchOffre(e) {
            e.preventDefault();
            var $link = $(e.currentTarget);
            $.ajax({
                url: '/annonces/' + $link.data('direction'),
                method: 'GET'
            }).then(function (response) {
                $container.find('.js-vote-total').text(response.votes);
            });
        }
    </script>
{% endblock %}