{% extends 'page.html.twig' %}
{% block title %}Résultats annonces{% endblock %}
{% block body %}
    <div style="margin-top: 20px  !important; margin-bottom: 40px;" class="ui justified container">
        <div style="margin-bottom: 20px;" class="ui right action left icon fluid input">
            <i class="search icon"></i>
            <input id="searchInput" type="text" placeholder="Rechercher">
            <div id="searchInput" class="ui button">Rechercher</div>
        </div>
        <div class="ui vertical segment stackable">
            <div class="ui vertical menu left floated">
                <div class="item">
                    <div class="header">Distance max</div>
                    <div class="menu">
                        <div class="item" id="rangeLabel">Désactivé</div>
                        <div class="item"><input class="ui input" id="rangeInput" type="range" min="0" max="300"
                                                 value="0" step="10"
                                                 oninput="updateRangeLabel(this.value);"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="header">Secteur d'activité</div>
                    <div class="menu">
                        <div class="item">
                            <select class="ui dropdown" id="secteurSelect">
                                <option value="">Choisir</option>
                                {# {% for secteur in secteurs %}
                                        <option value="{{ secteur }}">{{ secteur }}</option>
                                    {% endfor %} #}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="header">Favoris</div>
                    <div class="menu">
                        <div class="item field">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" name="favoris" class="hidden">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item"></div>
            </div>
            <div class="ui center aligned">
                <div id="annoncesList" class="ui two stackable cards">
                    <noscript>
                        <p>Veuillez activer JavaScript pour afficher les résultats en AJAX.</p>
                    </noscript>
                    {% for i in 0..6 %}
                        <div class="item">
                            <div class="image">
                                <div class="ui placeholder">
                                    <div class="square image"></div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui placeholder">
                                    <div class="header">
                                        <div class="very short line"></div>
                                        <div class="short line"></div>
                                    </div>
                                    <div class="paragraph">
                                        <div class="ui placeholder">
                                            <div class="line"></div>
                                            <div class="line"></div>
                                            <div class="line"></div>
                                            <div class="line"></div>
                                            <div class="line"></div>
                                            <div class="line"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type='text/javascript'>
        window.addEventListener("DOMContentLoaded", (event) => {
            makeRequestLoadAll()
            searchInput.focus();
        });

        //Cherche tous les résultats
        function makeRequestLoadAll() {
            httpRequest = new XMLHttpRequest();

            if (!httpRequest) {
                alert('Abandon :( Impossible de créer une instance de XMLHTTP');
                return false;
            }
            httpRequest.onreadystatechange = displayAnnonces;
            httpRequest.open('POST', '/particulier/get/annonces');
            httpRequest.send();
        }

        //Cherche les résultats par le nom entré barre recherche
        function makeRequestFiltered(secteur, distanceMax, limit, offset) {
            httpRequest = new XMLHttpRequest();

            if (!httpRequest) {
                alert('Abandon :( Impossible de créer une instance de XMLHTTP');
                return false;
            }
            httpRequest.onreadystatechange = displayAnnonces;
            //let url = '/particulier/get/annonces';
            httpRequest.open('POST', '/particulier/get/annonces/' + secteur + '/' + distanceMax + '/' + limit + '/' + offset);
            httpRequest.send();
        }

        //Affiche les résultats dans 'annoncesList'
        const annoncesList = document.getElementById('annoncesList');

        //Classe AnnonceCard
        class AnnonceCard {
            constructor(id, nom, rue, codeP, ville, createdAt, date, description) {
                if (!nom.length > 0) nom = 'Annonce n°' + id;
                date = date.substr(0, 10).split('-');
                date = date[2] + '-' + date[1] + '-' + date[0];
                if (description.length > 0) description = truncate(description, MAX_DESCRIPTION_LENGTH, true)
                else description = "** Pas de description renseignée **";
                let url = "{{ path('particulier_show_annonce', {'id': 1}) }}".slice(0, -1) + id;

                this.cardTemplate = `
                <div class="card annonceCard">
                    <i onclick="addFav(this);" class="icon star outline"></i>
                    <div class="content">
                        <div class="header">${nom}</div>
                        <div class="meta">
                            <li>
                                <i class="icon map pin"></i>
                                ${ville}
                            </li>
                            <li>
                                <i class="icon calendar"></i>
                                 Pour le ${date}
                            </li>
                        </div>
                        <div class="description">
                            <p>${description}</p>
                        </div>
                        <div class="extra">
                            <a href=${url}
                               class="ui right floated green button">
                                Voir l'annonce
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </div>
                </div>`;
            }
        }

        function displayAnnonces() {
            //En cours de chargement
            if (httpRequest.readyState === XMLHttpRequest.LOADING) {
                annoncesList.innerHTML = `<i style="margin: 60px auto;" class="notched circle loading icon"></i>`;
            }
            //Chargé
            else if (httpRequest.readyState === XMLHttpRequest.DONE) {
                if (httpRequest.status === 200) {
                    // stocke les résultats parsé en JSON dans une variable
                    results = JSON.parse(httpRequest.responseText)
                    console.log(results);
                    // Réinitialise la liste
                    annoncesList.innerHTML = '';

                    // Il n'y a pas de résultats :
                    if (results.annonces === undefined || results.annonces.length == 0) {
                        annoncesList.innerHTML = `<div style="margin: 60px auto;">Pas de résultat trouvé.</div>`;
                    }

                    // Il y a des résultats :
                    // Pour chaque cv du tableau annonces
                    results.annonces.forEach(a => {
                        let card = new AnnonceCard(a.identity, a.nom, a.adresse.rue, a.adresse.codePostal, a.adresse.ville, a.createdAt, a.date, a.description);
                        annoncesList.innerHTML += card.cardTemplate;
                    })
                } else {
                    annoncesList.innerHTML = `<div style="margin: 60px auto;">Il y a eu un problème avec la requête.</div>`;
                }
            }
        }

        const searchInput = document.getElementById('searchInput');
        searchInput.addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                searchAnnonces();
            }
        });

        function searchAnnonces() {
            // String secteur
            let inputValue = searchInput.value;
            // Float distance max
            let distanceMax = -1;
            // Int limit
            let limit = 25;
            // Int offset
            let offset = 0;
            inputValue = inputValue.trim();
            if (inputValue != undefined && inputValue.length > 0) {
                makeRequestFiltered(inputValue, distanceMax, limit, offset);
            } else {
                makeRequestLoadAll();
            }
        }

        function addFav(e) {
            $(e).transition('pulse');
            if (e.classList.contains('yellow')) {
                e.classList.remove('yellow');
                e.classList.add('outline');
            } else {
                e.classList.add('yellow');
                e.classList.remove('outline');
            }
        };

        const rangeLabel = document.getElementById('rangeLabel');

        function updateRangeLabel(value) {
            if (value == 0) {
                rangeLabel.innerHTML = 'Désactivé';
            } else {
                rangeLabel.innerHTML = value + ' km.'
            }
            ;
        }
    </script>
{% endblock %}