{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <div>
            <div style="padding:8em 0em" class="ui fluid container">
                <div class="ui grid">
                    <div class="left floated four wide column">
                        <div class="">
                            <img src="{{ asset('img/placeholders/elyse.png') }}" style="height: 400px;width: 300px;"
                                 alt="">
                        </div>
                    </div>
                    <div class="ui eight wide column">
                        <div class="ui container stackable middle aligned grid">
                            <div class="row">
                                <div class="eight sixteen column">
                                    <h2 class="ui header">Mettre en relation des
                                        auto-entrepreneurs,<br>avec des particuliers.</h2>
                                    <p style="font-size:1.33em">We can give your company superpowers to do things that
                                        they
                                        never thought possible. Let us delight your customers and empower your needs...
                                        through
                                        pure data analytics.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="center aligned column">
                                    <button class="ui huge button">Check Them Out</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right floated right aligned four wide column">
                        <div class="">
                            <img src="{{ asset('img/placeholders/elyse.png') }}" style="height: 400px;width: 300px;"
                                 alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui container">
                <div class="ui segment">
                    <div class="ui vertical segment">
                        <h2 class="ui header">
                            <i class="question circle outline icon"></i>
                            <div class="content">
                                Comment sont gérées mes données
                                <div class="sub header">Nous respectons la vie privée et la sécurité</div>
                            </div>
                        </h2>
                    </div>
                    <div class="ui vertical segment">
                        <h4>Nous ne vendons pas vos données personnelles.</h4>
                        <p>Toutes nos données sont encryptées en SHA-256 puis stockées sur un serveur dédié en France.</p>
                    </div>
                    <div class="ui vertical segment">
                        <h4>Supprimer votre compte et toutes les données associées.</h4>
                        <p>En vertue du droit à l'oubli, <a href="https://www.gdpr-expert.eu/article.html?id=17">article 17 de la RGPD</a>, Nous supprimerons définitivement toutes vos données lors de la suppression de votre compte ou après 700 jours d'inactivité.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}