{% extends 'page.html.twig' %}
{% block title %}Candidats{% endblock %}
{% block body %}
    <div style="padding:8em 0em" class="ui vertical segment">
        <div class="ui container stackable middle aligned grid">
            <div class="row">
                <div class="eight wide column">
                    <h3 style="font-size:2em" class="ui header">We Help Companies and Companions</h3>
                    <p style="font-size:1.33em">We can give your company superpowers to do things that they
                        never thought possible. Let us delight your customers and empower your needs... through
                        pure data analytics.</p>
                    <h3 style="font-size:2em" class="ui header">We Make Bananas That Can Dance</h3>
                    <p style="font-size:1.33em">Yes that&#x27;s right, you thought it was the stuff of dreams,
                        but even bananas can be bioengineered.</p>
                </div>
                <div class="right floated six wide column"><img
                            src="https://react.semantic-ui.com/images/wireframe/white-image.png"
                            class="ui large bordered rounded image"/></div>
            </div>
            <div class="row">
                <div class="center aligned column">
                    <a href="{{ path('entreprise_offres_emploi') }}" class="ui huge button">Voir les offres</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment">
        <h2 class="ui left floated header">100% gratuit</h2>
        <div class="ui clearing divider">Vous ne payez rien</div>
        <p>En tant que chercheur d'emploi, vous pouvez vous inscrire et utiliser le site librement.</p>
    </div>
    <div class="ui vertical segment">
        <h2 class="ui header">
            <i class="question circle outline icon"></i>
            <div class="content">
                Comment sont gérées mes données
                <div class="sub header">Nous respectons la vie privée et la sécurité</div>
            </div>
        </h2>
        <div class="ui styled accordion">
            <div class="title">
                <i class="dropdown icon"></i>
                Où est hébergé le site ?
            </div>
            <div class="content">
                <p class="transition hidden">A dog is a type of domesticated animal. Known for its loyalty and
                    faithfulness, it can be found as a welcome guest in many households across the world.</p>
            </div>
            <div class="title active">
                <i class="dropdown icon"></i>
                Comment sont stockées les données ?
            </div>
            <div class="content active">
                <p class="transition visible">There are many breeds of dogs. Each breed varies in size and temperament.
                    Owners often select a breed of dog that they find to be compatible with their own lifestyle and
                    desires from a companion.</p>
            </div>
            <div class="title">
                <i class="dropdown icon"></i>
                Comment puis-je retirer mes informations ?
            </div>
            <div class="content">
                <p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or
                    shelters.</p>
                <p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you
                    to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding
                    your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
            </div>
        </div>
    </div>
{% endblock %}