{% extends 'init.html.twig' %}
{% block title %}Inscription{% endblock %}
{% block body %}
    <style type="text/css">
        body {
            background-color: #fafbfc;
        }

        body > .grid {
            height: 100%;
        }

        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 750px;
        }
    </style>

    <svg style="position:absolute; top: -100px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#21ba45" fill-opacity="1"
              d="M0,64L48,85.3C96,107,192,149,288,138.7C384,128,480,64,576,48C672,32,768,64,864,106.7C960,149,1056,203,1152,229.3C1248,256,1344,256,1392,256L1440,256L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
    </svg>
    <a href="{{ path('homepage') }}" class="ui compact labeled icon button"
       style="position: fixed; top: 20px; left: 20px; z-index: 2;">
        <i class="left arrow icon"></i>
        Retour à l'accueil
    </a>
    <div class="ui center aligned grid">
        <div class="column" style="margin-top: 40px;">
            <h2 class="ui green image header">
                <img src="{{ asset('img/FJ200.png') }}" class="image">
                <div class="content">
                    Feeljob
                </div>
            </h2>
            <div class="ui segment">
                <h2 class="header">Je suis :</h2>
                <div style="padding-bottom: 15px;" class="ui grid center aligned stackable">
                    <div class="column inscriptionChoiceCard">
                        <a href="{{ path('particulier_inscription') }}" class="ui green choiceCardBtn particulierCard button">
                            <i class="icon bullhorn topIcon large"></i>
                            Un particulier en recherche d'un Freelance ou un Freelance
                            <i class="icon right arrow bottomIcon"></i>
                        </a>
                    </div>
                    <div class="column inscriptionChoiceCard">
                        <a href="{{ path('entreprise_inscription') }}" class="ui green choiceCardBtn entrepriseCard button">
                            <i class="icon briefcase topIcon large"></i>
                            Une entreprise ou un chercheur d'emploi
                            <i class="icon right arrow bottomIcon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <svg style="display: none;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#21ba45" fill-opacity="1"
              d="M0,96L48,85.3C96,75,192,53,288,42.7C384,32,480,32,576,74.7C672,117,768,203,864,245.3C960,288,1056,288,1152,288C1248,288,1344,288,1392,288L1440,288L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
    </svg>
{% endblock %}
{% block javascripts %}
    <script type='text/javascript'>
        const regexMail = /^[^ ]+@[^ ]+\.[A-z]{2,3}$/
        const regexPhone = /^(?:(?:\+|00)33|0)\s*[1-9](?:[\s.-]*\d{2}){4}$/
        const regexMdp = /^(?=.*[a-z])(?=.*\d).{8,}$/
        const regexSIRET = /^(RCS )?(([0-9](\s)?){3}){3}(([0-9](\s)?){5})?$/

        function checkField(sender, model) {
            if (!sender.value.match(model)) {
                sender.parentNode.parentNode.classList.add('error')
            } else {
                sender.parentNode.parentNode.classList.remove('error')
            }
        }

        function comparePass(sender, model) {
            model = document.getElementById(model).value
            if (sender.value != model) {
                sender.parentNode.parentNode.classList.add('error')
            } else {
                sender.parentNode.parentNode.classList.remove('error')
            }
        }

        function showPsswd(obj, psswdfield) {
            psswdfield = document.getElementById(psswdfield)
            let eyeIcon = obj.getElementsByTagName('i')[0]
            if (eyeIcon.classList.contains('slash')) {
                eyeIcon.classList.remove('slash');
                psswdfield.type = 'text';
            } else {
                eyeIcon.classList.add('slash');
                psswdfield.type = 'password';
            }
        };
        $('#ae-logo').change(function () {
            var i = $(this).prev('label').clone();
            var file = $('#ae-logo')[0].files[0].name;
            $('#ae-label').text(file);
        });
        $('#employeur-logo').change(function () {
            var i = $(this).prev('label').clone();
            var file = $('#employeur-logo')[0].files[0].name;
            $('#employeur-label').text(file);
        });
    </script>
{% endblock %}