{% extends 'base.html.twig' %}
{% block title %}FealJob - Connexion{% endblock %}
{% block body %}
    <div class="ui placeholder segment">
        <div class="ui two column very relaxed stackable grid">
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <label>Identifiant</label>
                        <div class="ui left icon input">
                            <input type="text" placeholder="Identifiant">
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>Mot de passe</label>
                        <div class="ui left icon input">
                            <input type="password">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui blue submit button">Connexion</div>
                    </div>
                    <div class="field">
                        <label><a>J'ai oublié mon mot de passe</a></label>
                    </div>
                </div>
            </div>
            <div class="middle aligned column">
                <a href="{{ path('inscription', {'tab': 'candidat'}) }}" class="ui green big button">
                    <div>
                        <i class="signup icon"></i>
                        S'inscrire
                    </div>
                </a>
            </div>
        </div>
        <div class="ui vertical divider">
            Ou
        </div>
    </div>
{% endblock %}