{% extends 'page.html.twig' %}
{% block title %}FealJob - Entreprises{% endblock %}
{% block body %}
    <div style="padding:8em 0em" class="ui vertical segment">
        <div class="ui container stackable middle aligned grid">
            <div class="row">
                <div class="eight wide column">
                    <h3 style="font-size:2em" class="ui header">We Help Companies and Companions</h3>
                    <p style="font-size:1.33em">We can give your company superpowers to do things that they
                        never thought possible. Let us delight your customers and empower your needs... through
                        pure data analytics.</p>
                    <h3 style="font-size:2em" class="ui header">We Make Bananas That Can Dance</h3>
                    <p style="font-size:1.33em">Yes that&#x27;s right, you thought it was the stuff of dreams,
                        but even bananas can be bioengineered.</p>
                </div>
                <div class="right floated six wide column"><img
                            src="https://react.semantic-ui.com/images/wireframe/white-image.png"
                            class="ui large bordered rounded image"/></div>
            </div>
            <div class="row">
                <div class="center aligned column">
                    <button class="ui huge button">Check Them Out</button>
                </div>
            </div>
        </div>
    </div>
    <div class="ui vertical segment">
        <table class="ui green celled table">
            <thead>
            <tr>
                <th>Nombre d'annonces</th>
                <th>Prix par annonce</th>
                <th>Prix sans réduction</th>
                <th>Prix avec réduction</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1 annonce</td>
                <td><b>20€</b>/annonce</td>
                <td>20€</td>
                <td>20€</td>
            </tr>
            <tr>
                <td>5 annonces</td>
                <td><b>16€</b>/annonce</td>
                <td>100€</td>
                <td>80€</td>
            </tr>
            <tr>
                <td>20 annonces</td>
                <td class="positive"><b>14€</b>/annonce</td>
                <td>400€</td>
                <td>280€</td>
            </tr>
            <tr>
                <td>30 annonces</td>
                <td class="positive"><b>12€</b>/annonce</td>
                <td>500€</td>
                <td>360€</td>
            </tr>
            <tr>
                <td>40 annonces</td>
                <td class="positive"><b>10€</b>/annonce</td>
                <td>800€</td>
                <td>400€</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}