{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <div>
            <div style="padding:8em 0em" class="ui vertical segment">
                <div class="ui container stackable middle aligned grid">
                    <div class="row">
                        <div class="eight wide column">
                            <h3 style="font-size:2em" class="ui header">We Help Companies and Companions</h3>
                            <p style="font-size:1.33em">We can give your company superpowers to do things that they
                                never thought possible. Let us delight your customers and empower your needs... through
                                pure data analytics.</p>
                            <h3 style="font-size:2em" class="ui header">We Make Bananas That Can Dance</h3>
                            <p style="font-size:1.33em">Yes that&#x27;s right, you thought it was the stuff of dreams,
                                but even bananas can be bioengineered.</p>
                        </div>
                        <div class="right floated six wide column"><img
                                    src="https://react.semantic-ui.com/images/wireframe/white-image.png"
                                    class="ui large bordered rounded image"/></div>
                    </div>
                    <div class="row">
                        <div class="center aligned column">
                            <button class="ui huge button">Check Them Out</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui vertical segment">
                <div class="ui three stackable cards">
                    <div class="ui card">
                        <div class="content">
                            <div class="header">1 annonce</div>
                        </div>
                        <div class="content">
                            <h4 class="ui sub header">Activity</h4>
                            <div class="ui small feed">
                                <div class="event">
                                    <div class="content">
                                        <div class="summary">
                                            <a>Elliot Fu</a> added <a>Jenny Hess</a> to the project
                                        </div>
                                    </div>
                                </div>
                                <div class="event">
                                    <div class="content">
                                        <div class="summary">
                                            <a>Stevie Feliciano</a> was added as an <a>Administrator</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="event">
                                    <div class="content">
                                        <div class="summary">
                                            <a>Helen Troy</a> added two pictures
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="extra content">
                            <button class="ui button">Join Project</button>
                        </div>
                    </div>
                    <div class="ui card">
                        <div class="content">
                            <div class="header">Jusqu'à 5 annonces</div>
                        </div>
                        <div class="content">
                            <h4 class="ui sub header">Activity</h4>
                            <div class="ui small feed">
                                <div class="event">
                                    <div class="content">
                                        <div class="summary">
                                            <a>Elliot Fu</a> added <a>Jenny Hess</a> to the project
                                        </div>
                                    </div>
                                </div>
                                <div class="event">
                                    <div class="content">
                                        <div class="summary">
                                            <a>Stevie Feliciano</a> was added as an <a>Administrator</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="event">
                                    <div class="content">
                                        <div class="summary">
                                            <a>Helen Troy</a> added two pictures
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="extra content">
                            <button class="ui button">Join Project</button>
                        </div>
                    </div>
                    <div class="ui card">
                        <div class="content">
                            <div class="header">Jusqu'à 20 annonces</div>
                        </div>
                        <div class="content">
                            <h4 class="ui sub header">Activity</h4>
                            <div class="ui small feed">
                                <div class="event">
                                    <div class="content">
                                        <div class="summary">
                                            <a>Elliot Fu</a> added <a>Jenny Hess</a> to the project
                                        </div>
                                    </div>
                                </div>
                                <div class="event">
                                    <div class="content">
                                        <div class="summary">
                                            <a>Stevie Feliciano</a> was added as an <a>Administrator</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="event">
                                    <div class="content">
                                        <div class="summary">
                                            <a>Helen Troy</a> added two pictures
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="extra content">
                            <button class="ui button">Join Project</button>
                        </div>
                    </div>
                    <div class="ui card">
                        <div class="content">
                            <div class="header">Jusqu'à 30 annonces</div>
                        </div>
                        <div class="content">
                            <h4 class="ui sub header">Activity</h4>
                            <div class="ui small feed">
                                <div class="event">
                                    <div class="content">
                                        <div class="summary">
                                            <a>Elliot Fu</a> added <a>Jenny Hess</a> to the project
                                        </div>
                                    </div>
                                </div>
                                <div class="event">
                                    <div class="content">
                                        <div class="summary">
                                            <a>Stevie Feliciano</a> was added as an <a>Administrator</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="event">
                                    <div class="content">
                                        <div class="summary">
                                            <a>Helen Troy</a> added two pictures
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="extra content">
                            <button class="ui button">Join Project</button>
                        </div>
                    </div>
                    <div class="ui card">
                        <div class="content">
                            <div class="header">Jusqu'à 40 annonces</div>
                        </div>
                        <div class="content">
                            <h4 class="ui sub header">Activity</h4>
                            <div class="ui small feed">
                                <div class="event">
                                    <div class="content">
                                        <div class="summary">
                                            <a>Elliot Fu</a> added <a>Jenny Hess</a> to the project
                                        </div>
                                    </div>
                                </div>
                                <div class="event">
                                    <div class="content">
                                        <div class="summary">
                                            <a>Stevie Feliciano</a> was added as an <a>Administrator</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="event">
                                    <div class="content">
                                        <div class="summary">
                                            <a>Helen Troy</a> added two pictures
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="extra content">
                            <button class="ui button">Join Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}