{% extends 'page.html.twig' %}
{% block title %}Freelances{% endblock %}
{% block body %}
    <div style="padding:8em 0em" class="ui vertical segment">
        <div class="ui container stackable middle aligned grid">
            <div class="row">
                <div class="left floated six wide column"><img
                            src="{{ asset('img/show/Ae2.png') }}"
                            class="ui large bordered rounded image"/></div>
                <div class="eight wide column">
                    <h3 style="font-size:2em" class="ui header">Soyez acteurs de votre évolution</h3>
                    <p style="font-size:1.33em">
                        Publier des photos de vos réalisations pour booster votre compte
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="eight wide column">
                    <h3 style="font-size:2em" class="ui header">Des Profil vérifiés par feeljob</h3>
                    <p style="font-size:1.33em">
                        100% des profils sont vérifiés par nos expert et vos recommandations
                    </p>
                </div>
                <div class="right floated six wide column"><img
                            src="{{ asset('img/show/Ae3.png') }}"
                            class="ui large bordered rounded image"/></div>
            </div>
            <div class="row">
                <div class="left floated six wide column"><img
                            src="{{ asset('img/show/Ae4.png') }}"
                            class="ui large bordered rounded image"/></div>
                <div class="eight wide column">
                    <h3 style="font-size:2em" class="ui header">Montrez qui vous êtes grâce à votre profil personnalisé</h3>
                    <p style="font-size:1.33em">
                        Créez votre profil personnalisé et importez directement vos photos de réalisations
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="center aligned column">
                    <a href="{{ path('particulier_annonces') }}" class="ui huge button">Voir les annonces</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}