{% extends 'base.html.twig' %}
{% block title %}FealJob - Inscription{% endblock %}
{% block body %}

    <div class="ui top attached tabular menu">
        <a class="item active" data-tab="first">Candidat</a>
        <a class="item" data-tab="second">Employeur</a>
        <a class="item" data-tab="third">Auto-entrepreneur</a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="first">
        <div class="ui vertical segment form--segment">
            <div class="ui container stackable middle aligned grid">
                <div>
                    <h3>Création compte candidat</h3>
                    <form class="ui form">
                        <div class="field">
                            <label>Nom</label>
                            <input type="text" name="nom" placeholder="Nom">
                        </div>
                        <div class="field">
                            <label>Prénom</label>
                            <input type="text" name="prenom" placeholder="Prénom">
                        </div>
                        <div class="field">
                            <label>Adresse e-mail</label>
                            <input type="text" name="adresse-email" placeholder="@mail.fr">
                        </div>
                        <div class="field">
                            <label>Téléphone</label>
                            <input type="text" name="telephone" placeholder="Téléphone">
                        </div>
                        <div class="field">
                            <label>Mot de passe</label>
                            <input type="password" name="mot-de-passe">
                        </div>

                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" tabindex="0" class="hidden">
                                <label>J'accepte les <a>conditions d'utilisation</a></label>
                            </div>
                        </div>
                        <button class="ui button" type="submit" value="candidat">Valider</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
        <div class="ui vertical segment form--segment">
            <div class="ui container stackable middle aligned grid">
                <div>
                    <h3>Création compte employeur</h3>
                    <form class="ui form">
                        <div class="field">
                            <label>Nom</label>
                            <input type="text" name="nom" placeholder="Nom">
                        </div>
                        <div class="field">
                            <label>Prénom</label>
                            <input type="text" name="prenom" placeholder="Prénom">
                        </div>
                        <div class="field">
                            <label>Nom de l'entreprise</label>
                            <input type="text" name="nom-entreprise" placeholder="Nom entreprise">
                        </div>
                        <div class="field">
                            <label>Adresse de l'entreprise</label>
                            <input type="text" name="adresse-entreprise" placeholder="Adresse entreprise">
                        </div>
                        <Button class="ui button"><i class="paperclip icon"></i>Logo de l'entreprise</Button>
                        <div class="field">
                            <label>N° de Siret</label>
                            <input type="text" name="siret" placeholder="N° Siret">
                        </div>
                        <div class="field">
                            <label>Secteur d'activité</label>
                            <div class="ui selection dropdown">
                                <input type="hidden" name="secteur-activite">
                                <div class="default text">Secteur</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" data-value="visa">
                                        <i class="visa icon"></i>
                                        Visa
                                    </div>
                                    <div class="item" data-value="amex">
                                        <i class="amex icon"></i>
                                        American Express
                                    </div>
                                    <div class="item" data-value="discover">
                                        <i class="discover icon"></i>
                                        Discover
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Descriptif de l'entreprise</label>
                            <textarea rows="2" placeholder="Une description de votre entreprise"></textarea>
                        </div>
                        <div class="field">
                            <label>Zone géographique</label>
                            <div class="ui selection dropdown">
                                <input type="hidden" name="zone-geographique">
                                <div class="default text">Zone</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" data-value="visa">
                                        <i class="visa icon"></i>
                                        Visa
                                    </div>
                                    <div class="item" data-value="amex">
                                        <i class="amex icon"></i>
                                        American Express
                                    </div>
                                    <div class="item" data-value="discover">
                                        <i class="discover icon"></i>
                                        Discover
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Adresse e-mail</label>
                            <input type="text" name="adresse-email" placeholder="@mail.fr">
                        </div>
                        <div class="field">
                            <label>Téléphone</label>
                            <input type="text" name="telephone" placeholder="Téléphone">
                        </div>

                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" tabindex="0" class="hidden">
                                <label>J'accepte les <a>conditions d'utilisation</a></label>
                            </div>
                        </div>
                        <button class="ui button" type="submit" value="employeur">Valider</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="third">
        <div class="ui vertical segment form--segment">
            <div class="ui container stackable middle aligned grid">
                <div>
                    <h3>Création compte auto-entrepreneur</h3>
                    <form class="ui form">
                        <div class="field">
                            <label>Nom</label>
                            <input type="text" name="nom" placeholder="Nom">
                        </div>
                        <div class="field">
                            <label>Prénom</label>
                            <input type="text" name="prenom" placeholder="Prénom">
                        </div>
                        <div class="field">
                            <label>Nom de l'entreprise</label>
                            <input type="text" name="nom-entreprise" placeholder="Nom entreprise">
                        </div>
                        <div class="field">
                            <label>Adresse de l'entreprise</label>
                            <input type="text" name="adresse-entreprise" placeholder="Adresse entreprise">
                        </div>
                        <Button class="ui button"><i class="paperclip icon"></i>Logo de l'entreprise</Button>
                        <div class="field">
                            <label>N° de Siret</label>
                            <input type="text" name="siret" placeholder="N° Siret">
                        </div>
                        <div class="field">
                            <label>Secteur d'activité</label>
                            <div class="ui selection dropdown">
                                <input type="hidden" name="secteur-activite">
                                <div class="default text">Secteur</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" data-value="visa">
                                        <i class="visa icon"></i>
                                        Visa
                                    </div>
                                    <div class="item" data-value="amex">
                                        <i class="amex icon"></i>
                                        American Express
                                    </div>
                                    <div class="item" data-value="discover">
                                        <i class="discover icon"></i>
                                        Discover
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Descriptif de l'entreprise</label>
                            <textarea rows="2" placeholder="Une description de votre entreprise"></textarea>
                        </div>
                        <div class="field">
                            <label>Zone géographique</label>
                            <div class="ui selection dropdown">
                                <input type="hidden" name="zone-geographique">
                                <div class="default text">Zone</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" data-value="visa">
                                        <i class="visa icon"></i>
                                        Visa
                                    </div>
                                    <div class="item" data-value="amex">
                                        <i class="amex icon"></i>
                                        American Express
                                    </div>
                                    <div class="item" data-value="discover">
                                        <i class="discover icon"></i>
                                        Discover
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Adresse e-mail</label>
                            <input type="text" name="adresse-email" placeholder="@mail.fr">
                        </div>
                        <div class="field">
                            <label>Téléphone</label>
                            <input type="text" name="telephone" placeholder="Téléphone">
                        </div>

                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" tabindex="0" class="hidden">
                                <label>J'accepte les <a>conditions d'utilisation</a></label>
                            </div>
                        </div>
                        <button class="ui button" type="submit" value="autoentrepreneur">Valider</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}