{% extends 'page.html.twig' %}
{% block title %}Particuliers{% endblock %}
{% block body %}
    <div style="padding:8em 0em" class="ui vertical segment">
        <div class="ui container stackable middle aligned grid">
            <div class="row">
                <div class="eight wide column">
                    <h3 style="font-size:2em" class="ui header">Trouvez votre autoentrepreneur rapidement et en toute
                        simplicité</h3>
                    <p style="font-size:1.33em">
                        Quelques clics, c’est juste ce qu’il vous faut pour trouver la personne dont vous avez besoin
                    </p>
                </div>
                <div class="right floated six wide column"><img
                            src="{{ asset('img/show/particulier1.png') }}"
                            class="ui large bordered rounded image"/></div>
            </div>
            <div class="ui segment row centered">
                <h3 class="ui header">100% gratuit, vous ne payez rien : En tant que particulier, vous pouvez vous inscrire et utiliser le site librement.</h3>
            </div>
            <div class="row">
                <div class="center aligned column">
                    <a href="{{ path('particulier_cartes') }}" class="ui huge button">Voir les freelances</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}