{% extends 'page.html.twig' %}
{% block title %}Particuliers{% endblock %}
{% block body %}
    <h2>Particuliers</h2>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dicta earum iusto omnis vel. Aspernatur at ea
        facilis hic, nobis non quas reiciendis ullam. Aspernatur doloribus est exercitationem iusto soluta?
    </div>
{% endblock %}