{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <div class="ui tiny breadcrumb">
            <a class="section">Home</a>
            <i class="right chevron icon divider"></i>
            <a class="section">Registration</a>
            <i class="right chevron icon divider"></i>
            <div class="active section">Personal Information</div>
        </div>
        <div class="ui grid">
            <div class="three wide column">
                <div class="ui vertical menu">
                    <div class="item">
                        <div class="header">Products</div>
                        <div class="menu">
                            <a class="item">Enterprise</a>
                            <a class="item">Consumer</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="header">CMS Solutions</div>
                        <div class="menu">
                            <a class="item">Rails</a>
                            <a class="item">Python</a>
                            <a class="item">PHP</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="header">Hosting</div>
                        <div class="menu">
                            <a class="item">Shared</a>
                            <a class="item">Dedicated</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="header">Support</div>
                        <div class="menu">
                            <a class="item">E-mail Support</a>
                            <a class="item">FAQs</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nine wide column">
                <div class="ui divided items">
                    <a class="item">
                        <div class="image">
                            <img src="{{ asset('img/grey-frame.png') }}">
                        </div>
                        <div class="content">
                            <a class="header">12 Years a Slave</a>
                            <div class="meta">
                                <span class="cinema">Union Square 14</span>
                            </div>
                            <div class="description">
                                <p>Ici la description de l'offre, nous travaillons à Annecy et nous cherchons un employé pour une durée de 3 semaines...</p>
                            </div>
                            <div class="extra">
                                <div class="ui label">IMAX</div>
                                <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
                            </div>
                        </div>
                    </a>
                    <a class="item">
                        <div class="image">
                            <img src="{{ asset('img/grey-frame.png') }}">
                        </div>
                        <div class="content">
                            <a class="header">My Neighbor Totoro</a>
                            <div class="meta">
                                <span class="cinema">IFC Cinema</span>
                            </div>
                            <div class="description">
                                <p></p>
                            </div>
                            <div class="extra">
                                <div class="ui right floated primary button">
                                    Buy tickets
                                    <i class="right chevron icon"></i>
                                </div>
                                <div class="ui label">Limited</div>
                            </div>
                        </div>
                    </a>
                    <a class="item">
                        <div class="image">
                            <img src="{{ asset('img/grey-frame.png') }}">
                        </div>
                        <div class="content">
                            <a class="header">My Neighbor Totoro</a>
                            <div class="meta">
                                <span class="cinema">IFC Cinema</span>
                            </div>
                            <div class="description">
                                <p></p>
                            </div>
                            <div class="extra">
                                <div class="ui right floated primary button">
                                    Buy tickets
                                    <i class="right chevron icon"></i>
                                </div>
                                <div class="ui label">Limited</div>
                            </div>
                        </div>
                    </a>
                    <a class="item">
                        <div class="image">
                            <img src="{{ asset('img/grey-frame.png') }}">
                        </div>
                        <div class="content">
                            <a class="header">Watchmen</a>
                            <div class="meta">
                                <span class="cinema">IFC</span>
                            </div>
                            <div class="description">
                                <p></p>
                            </div>
                            <div class="extra">
                                <div class="ui right floated primary button">
                                    Buy tickets
                                    <i class="right chevron icon"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}