{% extends 'page.html.twig' %}
{% block body %}
    <div style="padding-top: 20px;" class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui icon header">
                <i class="icon at"></i>
                <div class="content">
                    Un e-mail a été envoyé.
                    <div class="sub header">Adresse : {{ mail }}</div>
                </div>
            </h2>
            <h4>Vous ne l'avez pas reçu ?</h4>
            <form method="post">
                <button class="ui primary button" type="submit">Renvoyer</button>
            </form>
        </div>
    </div>
{% endblock %}