{% extends 'base.html.twig' %}
{% block body %}
    <style type="text/css">
        body {
            background-color: #fafbfc;
        }

        body > .grid {
            min-height: 60%;
        }

        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 450px;
        }
    </style>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui icon header">
                <i class="icon at"></i>
                <div class="content">
                    Un e-mail a été envoyé.
                    <div class="sub header">Adresse : pierre.martin@gmail.com</div>
                </div>
            </h2>
            <h5>Vous ne l'avez pas reçu ? <a>Renvoyer.</a></h5>
        </div>
    </div>
{% endblock %}