{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <div class="ui vertical center aligned segment">
            <i class="icon massive at"></i>
            <h1>Un e-mail a été envoyé.</h1>
            <h5>Vous ne l'avez pas reçu ? <a>Renvoyer.</a></h5>
        </div>
    </div>
{% endblock %}