{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <div class="ui vertical center aligned segment">
            <h2 class="ui icon header">
                <i class="icon at"></i>
                <div class="content">
                    Un e-mail a été envoyé.
                    <div class="sub header">Adresse : pierre.martin@gmail.com</div>
                </div>
            </h2>
            <h5>Vous ne l'avez pas reçu ? <a>Renvoyer.</a></h5>
        </div>
    </div>
{% endblock %}