/*
 *  Fealjob
 *  Do not distribute
 */

.primaryNav, .primaryNav .item {
    border-radius: 0px !important;
    border: none !important;
}

.right.menu .item .content.person-summary {
    padding-left: .5em;
}

.primaryNav .item.inscription:before {
    display: none;
}

.page-content {
    padding-top: 1em;
    padding-bottom: 1em;
    min-height: 60vh;
}

.segment.form--segment {
    padding: 4em;
}

.footer .footer__content {
    padding: 5em;
}

.footer .footer__content .footer__content__container {
    width: auto;
    margin: auto;
}

.ui.inverted.segment.footer__additional {
    background: #0e0f10;
}