/*
 *  Feeljob
 *  Do not distribute
 */

#flashMessages {
    position: absolute;
    right: 10px;
    top: 40px;
}

#nav {
    z-index: 30 !important;
    margin: 0;
}

#nav .header.item {
    margin-left: -2px;
}

#nav-icon {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40 !important;
    cursor: pointer;
    height: 30px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    padding: 0;
}

.nav-icon span {
    margin: 0 auto;
    position: relative;
    top: 12px;
}

.nav-icon span:before, .nav-icon span:after {
    position: absolute;
    content: '';
}

.nav-icon span, .nav-icon span:before, .nav-icon span:after {
    width: 32px;
    height: 3px;
    background-color: #000;
    display: block;
    border-radius: 2px;
}

.nav-icon span:before {
    margin-top: -12px;
}

.nav-icon span:after {
    margin-top: 12px;
}

.nav-icon span {
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.nav-icon span:before {
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, -webkit-transform;
    -o-transition-property: margin, transform;
    transition-property: margin, transform;
    transition-property: margin, transform, -webkit-transform;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
    -o-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
}

.nav-icon span:after {
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, -webkit-transform;
    -o-transition-property: margin, transform;
    transition-property: margin, transform;
    transition-property: margin, transform, -webkit-transform;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
    -o-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
}

.nav-icon-toggled span {
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

.nav-icon-toggled span:before {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition-delay: 0s, 0.2s;
    -o-transition-delay: 0s, 0.2s;
    transition-delay: 0s, 0.2s;
}

.nav-icon-toggled span:after {
    margin-top: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition-delay: 0s, 0.2s;
    -o-transition-delay: 0s, 0.2s;
    transition-delay: 0s, 0.2s;
}

#nav-background {
    visibility: hidden;
    z-index: 8;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    -webkit-transition: 200ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
}

#nav-icon, #backToTop {
    margin: 30px 20px;
}

.nav-background-toggled {
    visibility: visible !important;
    opacity: .7 !important;
}

.primaryNav, .primaryNav .item {
    border-radius: 0px !important;
    border: none !important;
}

.right.menu .item .content.person-summary {
    padding-left: .5em;
}

.primaryNav .item.inscription:before {
    display: none;
}

#nav .header.item img {
    margin-right: 1.2em;
}

#nav .item img {
    margin-right: 4px;
}

@media screen and (max-width: 800px) {
    #nav-icon {
        display: block;
    }

    #nav.menu {
        font-size: 1.2em;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: fixed;
        height: 100vh;
        width: 200px !important;
        max-width: 70vw;
        padding-top: 70px;
        top: 0;
        background: #fafbfc;
        margin: 0;
    }

    #nav .right {
        margin: 0 !important;
        padding: 0 !important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .primaryNav.menu {
        left: -100%;
        -webkit-transition: 400ms;
        -o-transition: 400ms;
        transition: 400ms;
        font-size: 1.4em;
    }

    #nav .item img {
        margin-right: .5em;
    }

    .primaryNav .item:before {
        display: none !important;
    }

    .nav-displayed.menu {
        left: 0 !important;
    }
}

#homepageSegment {
    min-height:640px;
    max-height: 880px;
    height: 100vh;
    padding:1em 0em;
    position: relative;
    background: unset;
}

#homepageSegment .inverted.pointing.menu {
    border-color: transparent !important;
}

.homepage-bckg {
    z-index: -1;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    background: url("../img/wallpaper3.jpg") no-repeat center -230px;
    top: -10px;
}

.homeCard {
    z-index: 3;
}

#homepageSegment {
    background-size: cover;
}

.page-content {
    padding-top: 1em;
    padding-bottom: 1em;
    min-height: 60vh;
}

.segment.form--segment {
    padding: 4em;
}

.footer .footer__content {
    padding: 5em;
}

.footer .footer__content .footer__content__container {
    width: auto;
    margin: auto;
}

.ui.inverted.segment.footer-2 {
    background: #0e0f10;
}

.card.homeCard {
    background-color: #fafbfc;
    -webkit-box-shadow: 6px 8px 15px 0px rgba(82, 82, 82, 0.5) !important;
    box-shadow: 6px 8px 15px 0px rgba(82, 82, 82, 0.5) !important;
}

.card.homeCard .headerContent .header {
    color: #21ba45 !important;
}

.background.fixed {
    position: fixed;
    z-index: -1;
    bottom: -85px;
    left: 0;
    right: 0;
}

.background.fixed .relative {
    position: relative;
}

.background.fixed .layer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.background.fixed .layer.no1 {
    z-index: -1;
}

.background.fixed .layer.no2 {
    z-index: -2;
    bottom: 5px;
}

.background.fixed .layer.no3 {
    z-index: -3;
    bottom: 65px;
}

.annonceCard, .cvCard, .carteVisiteCard {
    position: relative;
}

.annonceCard .meta, .carteVisiteCard .meta {
    list-style: none !important;
    text-decoration: none !important;
}

.annonceCard .actions {
    position: absolute;
    top: 10px;
    right: 10px;
}

.annonceCard .description, .carteVisiteCard .description {
    margin-bottom: 1em;
}

.annonceCard .star, .cvCard .star, .carteVisiteCard .star {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.footer .inverted.footer-1 {
    background-color: #1b1c1d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23242525' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.two.fields .field .button {
    margin: 0;
    line-height: 1.3em;
}

.inscriptionChoiceCard {
    height: 150px !important;
    width: 280px !important;
}

.column.inscriptionChoiceCard .choiceCardBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.5rem;
    border-radius: 10px;
}

.particulierCard {
    /*background-color: #21ba2b !important;*/
}

.particulierCard:hover {
    /*background-color: #1da526 !important;*/
}

.entrepriseCard {
    background-color: #2caf76 !important;
}

.entrepriseCard:hover {
    background-color: #279b69 !important;
}

.choiceCardBtn i {
    margin: 0 !important;
}

.choiceCardBtn .topIcon {
    margin-bottom: .7rem !important;
}

.choiceCardBtn .bottomIcon {
    margin-top: .7rem !important;
}

.meta {
    font-size: 1em;
    color: rgba(0,0,0,.4);
}

.formation__item {
    position: relative;
}

.formation__item .times.icon {
    position: absolute;
    right: 6px;
    top: 6px;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flexWidth {
    width: auto;
}

.textblur {
    color: transparent !important;
    text-shadow: 0 0 7px #000 !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

#notifications .loading.icon {
    display: block !important;
    margin: auto !important;
}

#notifications .label {
    width: 0px !important;
}

#notifications .content {
    margin-left: 0px !important;
}