{% extends 'page.html.twig' %}
{% block title %}Propositions de contrat{% endblock %}
{% block body %}
    <div class="contrats" style="margin-top: 20px;">
        <h2 class="ui center aligned green header">
            <div class="content">Candidatures reçues</div>
        </h2>
        <div id="contratsList" class="ui segment stacked divided items">
            <div class="ui placeholder">
                <div class="image header">
                    <div class="short line"></div>
                    <div class="medium line"></div>
                </div>
            </div>
            <div class="ui placeholder">
                <div class="image header">
                    <div class="short line"></div>
                    <div class="medium line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="candidatures" style="margin-top: 20px;">
        <h2 class="ui center aligned green header">
            <div class="content">Propositions envoyées</div>
        </h2>
        <div id="candidaturesList" class="ui segment stacked divided items">
            <div class="ui placeholder">
                <div class="image header">
                    <div class="short line"></div>
                    <div class="medium line"></div>
                </div>
            </div>
            <div class="ui placeholder">
                <div class="image header">
                    <div class="short line"></div>
                    <div class="medium line"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type='text/javascript'>
        window.addEventListener("DOMContentLoaded", (event) => {
            loadCandidatures();
            // TODO: erreur car il s'agit des candidatures reçues ci dessous
            loadContrats();
        });

        // Charge les candidatures dans la vue contrat et les affiche
        function loadCandidatures() {
            $.ajax({
                url: '/entreprise/get/my/candidatures',
                type: 'POST',
                dataType: 'json',
                success: function (results) {
                    displayCandidatures(results)
                }
            });
        }

        // Charge les contrats dans la vue contrat et les affiche
        function loadContrats() {
            $.ajax({
                url: '/entreprise/get/my/propositions',
                type: 'POST',
                dataType: 'json',
                success: function (results) {
                    displayContrats(results)
                }
            });
        }

        /*
         * classe correspondant à l'item proposition de contrat affiché dans la vue contrats
         */
        class Contrat {
            constructor(id, nom, ville, updatedAt, debut, fin, description, prenomEmploye, nomEmploye, idEmploye) {
                if (!nom.length > 0) nom = 'Offre n°' + id;
                debut = debut.substr(0, 10).split('-');
                debut = debut[2] + '-' + debut[1] + '-' + debut[0];
                fin = fin.substr(0, 10).split('-');
                fin = fin[2] + '-' + fin[1] + '-' + fin[0];
                description = truncate(description, MAX_DESCRIPTION_LENGTH, true)
                let url = "{{ path('entreprise_show_offre_emploi', {'id': 1}) }}".slice(0, -1) + id;

                this.contratTemplate = `
                <div class="contrat ui item">
                    <div class="content">
                        <div class="ui left floated">
                            <div class="ui header small">${prenomEmploye} ${nomEmploye} pour ${nom}</div>
                            <div class="meta">
                                <span class="date">Du ${debut} au ${fin}</span>
                            </div>
                        <div class="description">${description}</div>
                        </div>
                        <div class="extra">
                            <div class="ui right floated buttons">
                                <button id="denyBtn${id}" class="ui red basic button denyBtn" onclick="requestDenyContrat(${id})">Refuser</button>
                                <button id="acceptBtn${id}" class="ui green basic button acceptBtn" onclick="requestAcceptCandidature(${id})">Accepter</button>
                                <a href="${url}" class="ui blue basic button btnAccept">Voir</a>
                            </div>
                        </div>
                    </div>
                </div>`;
            }
        }

        /*
         * classe correspondant à l'item candidature dans la vue contrats
         */
        class Candidature {
            constructor(id, nom, rue, codePostal, ville, createdAt, debut, fin, description, prenomEmploye, nomEmploye, idEmploye) {
                if (!nom.length > 0) nom = 'Offre n°' + id;
                if (ville.length > 0) ville = ' à ' + ville;
                debut = debut.substr(0, 10).split('-');
                debut = debut[2] + '-' + debut[1] + '-' + debut[0];
                fin = fin.substr(0, 10).split('-');
                fin = fin[2] + '-' + fin[1] + '-' + fin[0];
                description = truncate(description, MAX_DESCRIPTION_LENGTH, true)
                let url = "{{ path('entreprise_show_offre_emploi', {'id': 1}) }}".slice(0, -1) + id;
                // TODO : lien disabled vers cv employe si employe n'a pas de CV

                this.candidatureTemplate = `
                <div class="candidature ui item">
                    <div class="content">
                        <div class="ui left floated">
                            <div class="ui header small">${nom}${ville} pour ${prenomEmploye} ${nomEmploye}</div>
                            <div class="meta">
                                <span class="date">Du ${debut} au ${fin}</span>
                            </div>
                        <div class="description">${description}</div>
                        </div>
                        <div class="extra">
                            <div class="ui right floated buttons">
                                <button id="undoBtn${id}" class="ui red basic button undoBtn" onclick="removeProposition(${id})">Annuler</button>
                                <a href="${url}" class="ui blue basic button">Voir</a>
                            </div>
                        </div>
                    </div>
                </div>`;
            }
        }

        // ----- Décandidature ----- //
        // Demande à décandidater
        function removeProposition(idO, idE) {
            // /entreprise/remove/proposition/{idO}/{idE}
            // L'Employeur supprime sa proposition d'OffreEmploi idO à l'Employe idE => {'result': boolean}
            $.ajax({
                url: '/entreprise/remove/proposition/' + idO + '/' + idE,
                type: 'POST',
                dataType: 'json',
                success: function () {
                    let btnNo = 'undoBtn' + id0
                    let btn = document.getElementById(btnNo)
                    btn.innerHTML = 'Annulée'
                }
            });
        }

        // ----- Refus proposition contrat ----- //
        function requestDenyContrat(idO, idE) {
            // /refuse/candidature/{idO}/{idE}
            // L'Employeur refuse la candidature de l'Employe idE sur l'OffreEmploi idO => {'result': boolean}
            $.ajax({
                url: '/entreprise/refuse/candidature/' + idO + '/' + idE,
                type: 'POST',
                dataType: 'json',
                success: function () {
                    let btnNo = 'denyBtn' + id0
                    let btn = document.getElementById(btnNo)
                    btn.innerHTML = 'Refusée'
                }
            });
        }

        // Affiche le refus proposition contrat
        function displayDeny(id) {
            let btnNo = 'denyBtn' + id
            let btn = document.getElementById(btnNo)
            btn.innerHTML = 'Refusée'
        }

        // ----- Acceptation proposition contrat ----- //
        // /entreprise/accept/candidature/{idO}/{idE}
        // L'Employeur accepte la candidature de l'Employe idE sur l'OffreEmploi idO => {'result': boolean}
        function requestAcceptCandidature(idO) {
            $.ajax({
                url: '/entreprise/accept/candidature/' + idO + '/' + idE,
                type: 'POST',
                dataType: 'json',
                success: function () {
                    let btnNo = 'acceptBtn' + id
                    let btn = document.getElementById(btnNo)
                    btn.innerHTML = 'Acceptée'
                }
            });
        }

        // Affiche la liste des propositions de contrat envoyées dans la vue contrats
        const contratsList = document.getElementById('contratsList');

        function displayContrats(results) {
            // Réinitialise la liste
            contratsList.innerHTML = '';

            // Il n'y a pas de résultats :
            if (results.propositions == undefined || results.propositions.length == 0) {
                contratsList.innerHTML = `<h4 class="ui header">Pas de proposition de contrat.</h4>`;
            }

            console.log(results)

            // Il y a des résultats :
            results.propositions.forEach(proposition => {
                let card = new Contrat(proposition.offre.identity, proposition.offre.nom, proposition.offre.lieu.ville, proposition.offre.updatedAt, proposition.offre.debut, proposition.offre.fin, proposition.offre.description, proposition.employe.prenom, proposition.employe.nom, proposition.employe.identity);
                contratsList.innerHTML += card.contratTemplate;
            })
        }

        // Affiche la liste des candidatures reçues dans la vue contrats
        const candidaturesList = document.getElementById('candidaturesList');

        function displayCandidatures(results) {
            // Réinitialise la liste
            candidaturesList.innerHTML = '';
            // Il n'y a pas de résultats :
            if (results.candidatures === undefined || results.candidatures.length == 0) {
                candidaturesList.innerHTML = `<h4 class="ui header">Pas de candidatures.</h4>`;
            }

            console.log(results)

            // Il y a des résultats :
            results.candidatures.forEach(candidature => {
                let card = new Candidature(candidature.identity, candidature.offre.nom, candidature.offre.lieu.rue, candidature.offre.lieu.codePostal, candidature.offre.lieu.ville, candidature.offre.createdAt, candidature.offre.debut, candidature.offre.fin, candidature.offre.description, candidature.employe.prenom, candidature.employe.nom, candidature.employe.identity);
                candidaturesList.innerHTML += card.candidatureTemplate;
            })
        }
    </script>
{% endblock %}