{% extends 'page.html.twig' %}
{% block title %}Propositions de contrat{% endblock %}
{% block body %}
    <div class="contrats" style="margin-top: 20px;">
        <h2 class="ui center aligned green header">
            <div class="content">Candidatures reçues</div>
        </h2>
        <div id="contratsList" class="ui segment stacked divided items">
            <div class="ui placeholder">
                <div class="image header">
                    <div class="short line"></div>
                    <div class="medium line"></div>
                </div>
            </div>
            <div class="ui placeholder">
                <div class="image header">
                    <div class="short line"></div>
                    <div class="medium line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="candidatures" style="margin-top: 20px;">
        <h2 class="ui center aligned green header">
            <div class="content">Propositions envoyées</div>
        </h2>
        <div id="candidaturesList" class="ui segment stacked divided items">
            <div class="ui placeholder">
                <div class="image header">
                    <div class="short line"></div>
                    <div class="medium line"></div>
                </div>
            </div>
            <div class="ui placeholder">
                <div class="image header">
                    <div class="short line"></div>
                    <div class="medium line"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type='text/javascript'>
        window.addEventListener("DOMContentLoaded", (event) => {
            loadContrats();
            setTimeout(loadCandidatures, 2000);
        });

        // Charge les contrats dans la vue contrat et les affiche
        function loadContrats() {
            makeRequestByORSC('/entreprise/get/propositions', displayContrats);
        }

        // Charge les candidatures dans la vue contrat et les affiche
        function loadCandidatures() {
            makeRequestByORSC('/entreprise/get/candidatures', displayCandidatures);
        }

        /*
         * classe correspondant à l'item proposition de contrat affiché dans la vue contrats
         */
        class Contrat {
            constructor(id, nom, ville, updatedAt, date, description) {
                if (!nom.length > 0) nom = 'Annonce n°' + id;
                date = date.substr(0, 10).split('-');
                date = date[2] + '-' + date[1] + '-' + date[0];
                description = truncate(description, MAX_DESCRIPTION_LENGTH, true)
                let url = "{{ path('entreprise_show_offre_emploi', {'id': 1}) }}".slice(0, -1) + id;

                this.contratTemplate = `
                <div class="contrat ui item">
                    <div class="content">
                        <div class="ui left floated">
                            <div class="ui header small">${nom} à ${ville}</div>
                            <div class="meta">
                                <span class="date">Pour le ${date}</span>
                            </div>
                        <div class="description">${description}</div>
                        </div>
                        <div class="extra">
                            <div class="ui right floated buttons">
                                <button id="denyBtn${id}" class="ui red basic button undoBtn" onclick="requestDenyContrat(${id})">Refuser</button>
                                <button id="acceptBtn${id}" class="ui green basic button undoBtn" onclick="requestAcceptContrat(${id})">Accepter</button>
                                <a href="${url}" class="ui blue basic button btnAccept">Voir</a>
                            </div>
                        </div>
                    </div>
                </div>`;
            }
        }

        /*
         * classe correspondant à l'item candidature dans la vue contrats
         */
        class Candidature {
            constructor(id, nom, rue, codePostal, ville, createdAt, date, description) {
                if (!nom.length > 0) nom = 'Annonce n°' + id;
                date = date.substr(0, 10).split('-');
                date = date[2] + '-' + date[1] + '-' + date[0];
                description = truncate(description, MAX_DESCRIPTION_LENGTH, true)
                let url = "{{ path('entreprise_show_offre_emploi', {'id': 1}) }}".slice(0, -1) + id;

                this.candidatureTemplate = `
                <div class="candidature ui item">
                    <div class="content">
                        <div class="ui left floated">
                            <div class="ui header small">${nom} à ${ville}</div>
                            <div class="meta">
                                <span class="date">Pour le ${date}</span>
                            </div>
                        <div class="description">${description}</div>
                        </div>
                        <div class="extra">
                            <div class="ui right floated buttons">
                                <button id="undoBtn${id}" class="ui red basic button undoBtn" onclick="requestUncandidate(${id})">Annuler</button>
                                <a href="${url}" class="ui blue basic button btnAccept">Voir</a>
                            </div>
                        </div>
                    </div>
                </div>`;
            }
        }

        // ----- Décandidature ----- //
        // Demande à décandidater
        function requestUncandidate(id) {
            makeRequestByORSC('/entreprise/uncandidate/' + id, displayUncandidate(id))
        }
        // Affiche la décandidature
        function displayUncandidate(id) {
            let btnNo = 'undoBtn' + id
            let btn = document.getElementById(btnNo)
            btn.innerHTML = 'Annulée'
        }

        // ----- Refus proposition contrat ----- //
        // Refuse proposition contrat
        function requestDenyContrat(id) {
            makeRequestByORSC('/entreprise/refuse/proposition/' + id, displayDeny(id))
        }
        // Affiche le refus proposition contrat
        function displayDeny(id) {
            let btnNo = 'denyBtn' + id
            let btn = document.getElementById(btnNo)
            btn.innerHTML = 'Refusée'
        }

        // ----- Acceptation proposition contrat ----- //
        // Acceptation proposition contrat
        function requestAcceptContrat(id) {
            makeRequestByORSC('/entreprise/accept/proposition/' + id, displayAccept(id))
        }
        // Affiche l'acceptation proposition contrat
        function displayAccept(id) {
            let btnNo = 'acceptBtn' + id
            let btn = document.getElementById(btnNo)
            btn.innerHTML = 'Acceptée'
        }

        // Affiche la liste des contrats dans la vue contrats
        const contratsList = document.getElementById('contratsList');
        function displayContrats() {
            //En cours de chargement
            if (httpRequest.readyState === XMLHttpRequest.LOADING) {
                contratsList.innerHTML = `<i class="notched circle loading icon"></i>`;
            }
            //Chargé
            else if (httpRequest.readyState === XMLHttpRequest.DONE) {
                if (httpRequest.status === 200) {
                    // stocke les résultats parsé en JSON dans une variable
                    results = JSON.parse(httpRequest.responseText)
                    // Réinitialise la liste
                    contratsList.innerHTML = '';

                    // Il n'y a pas de résultats :
                    if (results.propositions == undefined || results.propositions.length == 0) {
                        contratsList.innerHTML = `<h4 class="ui header">Pas de proposition de contrat.</h4>`;
                    }
                    // Il y a des résultats :
                    // Pour chaque proposition
                    results.propositions.forEach(proposition => {
                        let card = new Contrat(proposition.identity, proposition.nom, proposition.adresse.ville, proposition.updatedAt, proposition.date, proposition.description);
                        contratsList.innerHTML += card.contratTemplate;
                    })
                } else {
                    contratsList.innerHTML = `<div>Il y a eu un problème avec la requête.</div>`;
                }
            }
        }

        // Affiche la liste des candidatures dans la vue contrats
        const candidaturesList = document.getElementById('candidaturesList');

        function displayCandidatures() {
            //En cours de chargement
            if (httpRequest.readyState === XMLHttpRequest.LOADING) {
                candidaturesList.innerHTML = `<i class="notched circle loading icon"></i>`;
            }
            //Chargé
            else if (httpRequest.readyState === XMLHttpRequest.DONE) {
                if (httpRequest.status === 200) {
                    // stocke les résultats parsé en JSON dans une variable
                    results = JSON.parse(httpRequest.responseText)
                    // Réinitialise la liste
                    candidaturesList.innerHTML = '';
                    // Il n'y a pas de résultats :
                    if (results.candidatures === undefined || results.candidatures.length == 0) {
                        candidaturesList.innerHTML = `<h4 class="ui header">Pas de candidatures.</h4>`;
                    }

                    // Il y a des résultats :
                    results.candidatures.forEach(candidature => {
                        let card = new Candidature(candidature.identity, candidature.nom, candidature.adresse.rue, candidature.adresse.codePostal, candidature.adresse.ville, candidature.createdAt, candidature.date, candidature.description);
                        candidaturesList.innerHTML += card.candidatureTemplate;
                    })
                } else {
                    candidaturesList.innerHTML = `<div>Il y a eu un problème avec la requête.</div>`;
                }
            }
        }
    </script>
{% endblock %}