{% extends 'base.html.twig' %}
{% block title %}FealJob - Créer une offre d'emploi{% endblock %}
{% block body %}
    <div style="margin-top: 20px; margin-bottom: 60px;" class="ui text justified container">
        <h2 class="ui center aligned icon header">
            <i class="briefcase icon"></i>
            Créer une offre d'emploi
        </h2>
        <form class="ui form segment" method="post">
            <div class="required field">
                <label>Intitulé du poste</label>
                <input required type="text" name="nom" placeholder="Intitulé du poste">
            </div>
            <div class="field required">
                <label>Types de contrat :</label>
                <select required class="ui dropdown" name="contrat">
                    {% for type in typeContrat %}
                        <option value="{{ type }}">
                            {{ type }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="field">
                <label>Localisation</label>
                <p>Si votre emploi est rattaché à un lieu, cliquez sur le bouton ci-dessous</p>
                <div class="two fields">
                    <div style="padding-top: 6px;" class="two wide field">
                        <div style="padding-left: 10px;" class="ui toggle checkbox">
                            <input type="checkbox" name="deplacement" id="lieuBtn" class="hidden">
                        </div>
                    </div>
                    <div class="fourteen wide field disabled" id="lieuField">
                        <input type="text" name="lieu" placeholder="Emplacement">
                    </div>
                </div>
            </div>
            <div class="two fields">
                <div class="field required">
                    <label>Date début</label>
                    <input required name="dateD" placeholder="jj/mm/aaaa" type="text">
                </div>
                <div class="field required">
                    <label>Date fin</label>
                    <input required name="dateF" placeholder="jj/mm/aaaa" type="text">
                </div>
            </div>
            <div class="two fields">
                <div class="field required">
                    <label>Nombre de postes à pourvoir</label>
                    <input required type="text" name="nbRecrutement" placeholder="Nombre">
                </div>
                <div class="field">
                    <label>Nombre d'heures travaillées</label>
                    <input type="text" name="heures" placeholder="Nombre">
                </div>
            </div>
            <div class="field required">
                <label>Montant du salaire</label>
                <div class="ui right labeled input">
                    <label for="montant" class="ui label">€</label>
                    <input required name="salaire" type="text" placeholder="Montant" id="montant">
                    <div class="ui basic label">.00</div>
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="field">
                <div class="ui toggle checkbox">
                    <input type="checkbox" name="loge" class="hidden">
                    <label>Emploi logé</label>
                </div>
            </div>
            <div class="field">
                <div class="ui toggle checkbox">
                    <input type="checkbox" name="teletravail" class="hidden">
                    <label>Éligible au télétravail</label>
                </div>
            </div>
            <button class="ui fluid large green submit button" type="submit">Créer</button>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script type='text/javascript'>
        const lieuBtn = document.getElementById('lieuBtn')
        const lieuField = document.getElementById('lieuField')
        lieuBtn.addEventListener('change', (event) => {
            if (event.currentTarget.checked) {
                lieuField.classList.remove("disabled");
            } else {
                lieuField.classList.add("disabled");
            }
        })
    </script>
{% endblock %}