{% extends 'page.html.twig' %}
{% block title %}Résultats profils{% endblock %}
{% block body %}
    <div style="margin-top: 20px  !important; margin-bottom: 40px;" class="ui justified container">
        <div style="margin-bottom: 20px;" class="ui right action left icon fluid input">
            <i class="search icon"></i>
            <input type="text" placeholder="Rechercher">
            <div class="ui basic floating dropdown button">
                <div class="text">Tous les résultats</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="active item">Tous les résultats</div>
                    <div class="item">Offres d'emploi</div>
                    <div class="item">Candidats</div>
                    <div class="item">Auto-entrepreneurs</div>
                </div>
            </div>
            <div class="ui button">Rechercher</div>
        </div>
        <div class="ui grid stackable">
            <div class="four wide column">
                <div class="ui vertical menu">
                    <div class="item">
                        <div class="header">Products</div>
                        <div class="menu">
                            <a class="item">Enterprise</a>
                            <a class="item">Consumer</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="header">CMS Solutions</div>
                        <div class="menu">
                            <a class="item">Rails</a>
                            <a class="item">Python</a>
                            <a class="item">PHP</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="header">Hosting</div>
                        <div class="menu">
                            <a class="item">Shared</a>
                            <a class="item">Dedicated</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="header">Support</div>
                        <div class="menu">
                            <a class="item">E-mail Support</a>
                            <a class="item">FAQs</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="eleven wide column">
                <div class="ui three stackable cards">
                    <a id="result" class="ui card" href="#">
                        <div class="content"></div>
                    </a>
                    <a class="ui card" href="#">
                        <div class="content">
                            <img class="ui left floated mini circular image"
                                 src="{{ asset('img/placeholders/matthew.png') }}">
                            <div class="header">Matt Romney</div>
                            <div class="meta">
                                <span class="category">Développeur Web</span>
                            </div>
                            <div style="margin-top: 10px;" class="contract">
                                <div class="ui label">Intérim</div>
                                <div class="ui label">Saisonnier</div>
                                <div class="ui label">Étudiant</div>
                            </div>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet atque aut
                                    deserunt,
                                    dicta distinctio dolorem earum, ipsa non numquam pariatur quia quidem quos
                                    tempore
                                    voluptate, voluptates voluptatibus? Asperiores, id.</p>
                                <ul>
                                    <li>HTML/CSS</li>
                                    <li>Javascript</li>
                                    <li>jQuery</li>
                                    <li>Ruby-on-rails</li>
                                </ul>
                            </div>
                        </div>
                        <div class="extra content">
                            <i class="icon calendar"></i>
                            Du 01/06 au 31/08 2021
                        </div>
                    </a>

                    <a class="ui card" href="#">
                        <div class="content">
                            <img class="ui left floated mini circular image"
                                 src="{{ asset('img/placeholders/jenny.jpg') }}">
                            <div class="header">Prenom Nom</div>
                            <div class="meta">
                                <span class="category">Métier</span>
                            </div>
                            <div style="margin-top: 10px;" class="contract">
                                <div class="ui label">Type contrat</div>
                                <div class="ui label">Langues</div>
                            </div>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet atque aut
                                    deserunt,
                                    dicta distinctio dolorem earum, ipsa non numquam pariatur quia quidem quos
                                    tempore
                                    voluptate, voluptates voluptatibus? Asperiores, id.</p>
                                    <p>
                                        <i class="icon bookmark"></i>
                                        Master informatique obtenu le 2 Avril 2020
                                    </p>
                                    <p>
                                        <i class="icon circle outline check"></i>
                                        Dispose du permis
                                    </p>
                            </div>
                        </div>
                        <div class="extra content">
                            <i class="icon calendar"></i>
                            À partir du 01/04/2021
                        </div>
                    </a>
                    <a class="ui card" href="#">
                        <div class="content">
                            <img class="ui left floated mini circular image"
                                 src="{{ asset('img/placeholders/steve.jpg') }}">
                            <div class="header">Jean Jessétou</div>
                            <div class="meta">
                                <span class="category">Directeur RH</span>
                            </div>
                            <div style="margin-top: 10px;" class="contract">
                                <div class="ui label">CDD</div>
                                <div class="ui label">CDI</div>
                                <div class="ui label">Intérim</div>
                                <div class="ui label">Saisonnier</div>
                            </div>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet atque aut
                                    deserunt,
                                    dicta distinctio dolorem earum, ipsa non numquam pariatur quia quidem quos
                                    tempore
                                    voluptate, voluptates voluptatibus? Asperiores, id.</p>
                            </div>
                        </div>
                        <div class="extra content">
                            <i class="icon calendar"></i>
                            Disponible dès maintenaint
                        </div>
                    </a>
                    {% for i in 0..5 %}
                        <div class="ui card">
                            <div class="content">
                                <div class="ui placeholder">
                                    <div class="image header">
                                        <div class="medium line"></div>
                                        <div class="short line"></div>
                                    </div>
                                    <div class="paragraph">
                                        <div class="line"></div>
                                        <div class="line"></div>
                                        <div class="line"></div>
                                        <div class="line"></div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="ui placeholder">
                                    <div class="paragraph">
                                        <div class="line"></div>
                                        <div class="line"></div>
                                        <div class="line"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui placeholder">
                                    <div class="long line"></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        window.addEventListener("DOMContentLoaded", (event) => {
            $.ajax({
                url: '/entreprise/get/cvs',
                type: 'POST',
            }).then(function (response) {
                $('#result').text(
                    response.cvs[0].naissance +
                    response.cvs[0].permis +
                    response.cvs[0].sitationFamille
                );
            });
        });

        function searchOffre(e) {
            e.preventDefault();
            var $link = $(e.currentTarget);
            $.ajax({
                url: '/entreprise/get/cvs' + $link.data('direction'),
                type: 'POST',
                success: OnSuccess,
                error: OnErrorCall,
            });
        }

        function onSuccess(response) {

        }

        function onErrorCall(response) {

        }
    </script>
{% endblock %}