{% extends 'page.html.twig' %}
{% block title %}Résultats profils{% endblock %}
{% block body %}
    <div style="margin-top: 20px  !important; margin-bottom: 40px;" class="ui justified container">
        <div style="margin-bottom: 20px;" class="ui right action left icon fluid input">
            <i class="search icon"></i>
            <input id="searchInput" type="text" placeholder="Rechercher" autofocus>
            <div id="searchInput" class="ui button">Rechercher</div>
        </div>
        <div class="ui vertical segment stackable">
            <div class="ui vertical menu left floated">
                <div class="item">
                    <div class="header">Distance max</div>
                    <div class="menu">
                        <div class="item" id="rangeLabel">Désactivé</div>
                        <div class="item"><input class="ui input" id="rangeInput" type="range" min="0" max="300"
                                                 value="0" step="10"
                                                 oninput="updateRangeLabel(this.value);"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="header">Secteur d'activité</div>
                    <div class="menu">
                        <div class="item">
                            <select class="ui search dropdown" id="secteurSelect">
                                <option value="0">Désactivé</option>
                                {% for secteur in secteurs %}
                                    <option value="{{ secteur }}">{{ secteur }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="header">Favoris</div>
                    <div class="menu">
                        <div class="item field">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" name="favoris" class="hidden">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item"></div>
            </div>
            <div class="ui center aligned">
                <div id="cvsList" class="ui two stackable cards">
                    <noscript>
                        <p>Veuillez activer JavaScript pour afficher les résultats en AJAX.</p>
                    </noscript>
                    {% for i in 0..6 %}
                        <div class="item">
                            <div class="image">
                                <div class="ui placeholder">
                                    <div class="square image"></div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui placeholder">
                                    <div class="header">
                                        <div class="very short line"></div>
                                        <div class="short line"></div>
                                    </div>
                                    <div class="paragraph">
                                        <div class="ui placeholder">
                                            <div class="line"></div>
                                            <div class="line"></div>
                                            <div class="line"></div>
                                            <div class="line"></div>
                                            <div class="line"></div>
                                            <div class="line"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type='text/javascript'>
        class CVCard {
            constructor(id, prenom, nom, photo, diplomes, langues, createdAt, description, permis) {
                if (!nom.length > 0) nom = 'Carte n°' + id;
                if (description.length > 0) description = truncate(description, MAX_DESCRIPTION_LENGTH, true)
                else description = "** Pas de description renseignée **";
                let url = "{{ path('entreprise_show_cv', {'id': 1}) }}".slice(0, -1) + id;
                if (photo.length > 0) photo = '{{ asset('uploads/photo/') }}' + photo;
                if (permis) permis = `
                <p>
                    <i class="icon circle outline check"></i>
                    Dispose du permis
                </p>`

                this.cardTemplate = `
                <div class="ui card cvCard">
                    <i onclick="addFav(this);" class="icon star outline"></i>
                    <div class="content">
                        {# <img src="${photo}" class="ui left floated circular image profileLogo profileLogo--35"/> #}
                        <div class="header">${prenom} ${nom}</div>
                        <div class="meta">
                            <span class="category">Métier</span>
                        </div>
                        <div style="margin-top: 10px;" class="contract">
                            ${langues.map(langue => `<div class="ui label">${langue.langue.nom}</div>`).join('')}
                        </div>
                        <div style="margin-top: 10px;" class="description">
                            <p>${description}</p>
                            ${diplomes.map(diplome =>
                    `<p><i class="icon bookmark"></i>${diplome.diplome.nom} à ${diplome.diplome.etablissement}</p>`
                ).join('')}
                            ${permis}
                        </div>
                    </div>
                    <a href="${url}"
                       class="ui right floated green button">
                        Voir le CV
                        <i class="right chevron icon"></i>
                    </a>
                </div>`;
            }
        }

        window.addEventListener("DOMContentLoaded", (event) => {
            makeRequest()
        });

        //Cherche tous les résultats
        function makeRequest() {
            $.ajax({
                url: '/entreprise/get/cvs',
                type: 'POST',
                dataType: 'json',
                success: function (results) {
                    displayCVS(results)
                }
            });
        }

        const searchInput = document.getElementById('searchInput');
        const secteurSelect = document.getElementById('secteurSelect');
        // /particulier/get/cartes/{nom}/{secteur}/{distanceMax}/{limit}/{offset}
        // Le particulier récupère toutes les CarteVisite selon le nomEntreprise nom, le SecteurActivite secteur et la distanceMax.
        // Il en récupère limit avec un offset => {'cartes': CarteVisite[]}
        function makeRequestFiltered() {
            var nom = searchInput.value;
            var secteur = secteurSelect.value;
            var distanceMax = -1;
            var limit = 25;
            var offset = 0;

            nom = nom.trim();

            if (nom != undefined && nom.length > 0) {
                console.log('ok')
            } else {
                nom = 'none'
            }

            if (secteur == 0) {
                secteur = 'none'
            }
            $.ajax({
                url: '/particulier/get/cartes/' + nom + '/' + secteur + '/' + distanceMax + '/' + limit + '/' + offset,
                type: 'POST',
                dataType: 'json',
                success: function (results) {
                    displayCartesVisite(results)
                }
            });
        }

        //Affiche les résultats dans 'cvsList'
        var cvsList = document.getElementById('cvsList');

        function displayCVS(results) {
            console.log(results);
            // Réinitialise la liste
            cvsList.innerHTML = '';

            // Il n'y a pas de résultats :
            if (results.cvs === undefined || results.cvs.length == 0) {
                cvsList.innerHTML = `<div style="margin: 60px auto;">Pas de résultat trouvé.</div>`;
            }

            // Il y a des résultats :
            results.cvs.forEach(cv => {
                let card = new CVCard(cv.id, cv.employe.prenom, cv.employe.nom, cv.employe.photo, cv.diplomes, cv.langues, cv.createdAt, cv.description, cv.permis);
                cvsList.innerHTML += card.cardTemplate;
            })
        }

        // Cherche les CV lorsqu'on appuie sur la touche entrée dans la barre de recherche
        var searchInput = document.getElementById('searchInput');
        searchInput.addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                makeRequestFiltered();
            }
        });

        function addFav(e) {
            $(e).transition('pulse');
            if (e.classList.contains('yellow')) {
                e.classList.remove('yellow');
                e.classList.add('outline');
            } else {
                e.classList.add('yellow');
                e.classList.remove('outline');
            }
        };
    </script>
{% endblock %}