{% extends 'page.html.twig' %}
{% block title %}Conditions d'utilisation{% endblock %}
{% block body %}
    <div>
        <h3>Ces conditions générales d'utilisation sont en cours de rédaction et donc incomplètes.</h3>
        <h3>INFORMATIONS IMPORTANTES</h3>
        Lisez attentivement les Conditions d’utilisation suivantes. L’achat ou l’utilisation de nos produits signifie que vous avez lu et accepté les présentes Conditions d’utilisation.

        <h3>LICENSES</h3>
        Nous pouvons vous accorder trois types de licences possibles pour utilisation de nos modèles de sites web et d’autres produits (les « Produits ») vendus sur notre site par les fournisseurs de contenu indépendants en conformité avec les présentes Conditions d’utilisation (la « Licence ») émises par notre société, en tant que suit :

        <h3>LICENCE D’USAGE UNIQUE</h3>
        Vous pouvez bénéficier d’une Licence d’Usage unique en cas d’achat d’un modèle de site Web à un prix non unique. Elle vous permet d’utiliser chaque produit sur un seul site Web uniquement, appartenant à vous ou votre client. Vous devez à nouveau acheter le même modèle si vous utilisez la même conception en relation avec un autre ou d’autres projets ;

        <h3>LICENCE DE DEVELOPPEUR</h3>
        Si vous achetez une Licence de développeur, vous bénéficiez d’une autorisation non-exclusive d’utiliser le modèle sur un maximum de 5 domaines pour des projets appartenant à vous ou à votre client. Avec cette licence, vous n’êtes pas autorisé à intégrer le produit acheté avec un logiciel tiers, un logiciel ou des applications gratuites ;

        <h3>LICENCE ÉTENDUE</h3>
        Cette licence vous permet d’intégrer le modèle avec un logiciel, un logiciel gratuit ou une application qui n’est pas produite par notre société. Vous êtes autorisé à redistribuer ou à revendre vos produits créés un nombre illimité de fois. Le prix de la licence étendue est la moitié du prix d’achat du modèle. Vous pouvez postuler à la licence à l’adresse marketing@templatemonster.com ;

        <h3>IMAGES, CLIPARTS ET POLICES</h3>
        Toutes les images, les cliparts, les polices et les séquences vidéo utilisées dans nos produits sont sans redevances et font partie intégrante de nos produits. Les licences pour usage unique et de développeur vous donnent le droit d’utiliser les images, les cliparts, les polices et les séquences vidéo seulement comme une partie du site que vous créez en utilisant votre modèle. Vous pouvez utiliser les images, les cliparts, les polices et les séquences vidéo pour le développement d’un seul projet. Tout type d’utilisation ou de distribution distinct est strictement interdit. Toutes les images et les illustrations utilisées dans les modèles sont disponibles en une seule couche tels quels. Certains modèles qui sont animés avec la technologie Flash peuvent contenir des effets créés avec les logiciels suivants : Adobe AfterEffects, 3DMax. Pour savoir s’il y a des effets de ce type dans certains modèles, veuillez contacter notre équipe d’assistance.

        NB ! Pour modifier ces effets vous aurez besoin du logiciel et des compétences appropriés. Il serait mieux d’embaucher quelqu’un pour le faire pour vous. Nous vous recommandons de passer à TemplateTuning.com pour cela.

        <h3>MODIFICATIONS</h3>
        Vous êtes autorisé à apporter toutes modifications nécessaires à nos produits pour répondre à vos fins en conformité avec le type de licence acquise.

        <h3>UTILISATION NON AUTORISÉE</h3>
        Si vous ne bénéficiez pas de la Licence d’achat exclusif vous ne pourrez placer aucun de nos produits, modifié ou non, sur une disquette, un CD, un site web ou tout autre support de données. Vous n’êtes également pas autorisé à les offrir pour la redistribution ou la revente sans le consentement écrit préalable émis par notre société.

        <h3>INCESSIBILITÉ</h3>
        Vous ne devez pas sous-licencier, céder ou transférer le tout mentionné ci-dessus à aucune entité sans le consentement écrit préalable de notre Société.

        <h3>PROPRIÉTÉ INTELLECTUELLE</h3>
        Vous ne pouvez pas revendiquer de droit à la propriété intellectuelle ou la propriété exclusive à pour n’importe lequel de nos produits, modifié ou pas. Tous les produits sont la propriété des fournisseurs de contenus indépendants. Nos produits sont fournis « tels quels », sans garantie d’aucune sorte, exprimée ou implicite. En aucun cas, notre société ou ses agents ne peut être tenue responsable de tout dommage, y compris, mais sans s’y limiter, direct, indirect, spécial, punitif, ou consécutif ou d’autres pertes résultant de l’utilisation ou de l’impossibilité d’utiliser nos produits.

        <h3>INSTALLATIONS</h3>
        Nous n’installons par nos produits (modèles osCommerce, Zen Cart, etc.). L’installation est un service payant qui n’est pas inclus dans le prix du forfait.

        <h3>VÉRIFICATION ANTIFRAUDE</h3>
        L’achat peut être suspendu pendant la vérification antifraude manuelle pour 10-20 minutes aussi bien que pour une durée plus longue lors des enquêtes plus sérieuses. La vérification anti-fraude est faite en raison de la multiplication des transactions frauduleuses par des personnes qui ne sont pas titulaires de la carte de crédit utilisée lors de l’achat.

        <h3>SERVICES DES TIERS</h3>
        Nous pouvons autoriser l’accès ou la publicité à certains fournisseurs de produits ou de services tiers (les « Fournisseurs ») à partir desquels vous pouvez acheter certains biens ou services. Vous comprenez que nous n’exploitons ni ne contrôlons les produits ou services offerts par les Fournisseurs. Les Fournisseurs sont responsables de tous les aspects du traitement des commandes, de l’exécution et du service à la clientèle. Nous ne sommes pas partie aux transactions conclues entre vous et les Fournisseurs. Vous acceptez que l’utilisation ou l’achat des produits de ces Fournisseurs est à vos risques et périls et est sans aucune garantie de notre part, expresse, implicite ou autrement y compris les garanties de titre, d’adéquation à l’usage, de qualité marchande ou de non-contrefaçon. Nous ne sommes en aucun cas responsables des dommages résultant des transactions entre vous et les commerçants ou de toute information figurant sur les sites marchands ou tout autre site lié à notre site.

        <h3>INSCRIPTION / ACHAT</h3>
        Lors de l’achat sur le site on peut vous demander de vous inscrire. Si l’enregistrement est effectué, vous vous engagez à nous fournir des informations précises, un enregistrement complet et / ou achat des informations. Vous devez fournir des informations exactes lors de votre inscription. Chaque inscription est faite pour des fins personnelles seulement. Nous n’autorisons pas :

        toute autre personne à utiliser les sections enregistrés sous votre nom ; ou
        accès sur un même nom mis à la disposition de multiples utilisateurs sur un réseau. Vous êtes responsable de la prévention de telle utilisation non autorisée.
        Templatemonster.com se réserve le droit exclusif et l’autorité d’accepter ou non votre inscription ou de mettre fin à l’enregistrement une fois accepté pour toute raison qu’il juge appropriée.

        <h3>ERREURS, CORRECTIONS ET CHANGEMENTS</h3>
        Nous ne représentons ni ne garantissons que le Site sera exempt d’erreurs, exempt de virus ou d’autres composants nuisibles, ou que les défauts seront corrigés. Nous ne garantissons pas que les informations disponibles sur ou via le Site seront correctes, exactes, opportunes ou fiables. Nous pouvons apporter des modifications aux fonctionnalités, fonctions ou contenu du Site à tout moment. Nous nous réservons le droit, à notre seule discrétion, d’éditer ou de supprimer tout document, information ou autre contenu.

        <h3>CONTENU DE TIERS</h3>
        Le contenu de tierces parties peut apparaître sur le Site ou peut être accessible via des liens à partir du Site. Nous déclinons toute responsabilité pour toute erreur, inexactitude de droit, diffamation, omission, mensonge, obscénité, pornographie ou blasphème dans les déclarations, opinions, représentations ou toute autre forme de contenu sur le Site. Vous comprenez que les informations et les opinions contenues dans le contenu de la tierce partie représentent uniquement les pensées de l’auteur et ne sont ni approuvées ni reflètent nécessairement notre opinion.

        <h3>ACTIVITÉ ILLÉGALE</h3>
        Nous nous réservons le droit d’enquêter sur les plaintes ou les violations signalées du présent Contrat et de prendre toutes les mesures que nous jugeons appropriées, notamment de signaler toute activité illégale présumée aux responsables de l’application des lois, autorités de réglementation ou autres tierces parties et divulguer toute information nécessaire ou appropriée. à des personnes ou des entités liées à votre profil, vos adresses e-mail, votre historique d’utilisation, vos documents publiés, vos adresses IP et vos informations sur le trafic.

        <h3>LIMITATION DE RESPONSABILITÉ</h3>
        Nous et toute Partie affiliée ne sera pas responsable de toute perte, blessure, réclamation, responsabilité ou dommage de toute nature résultant de quelque manière que ce soit de
        de toute erreur ou omission du site ou des services ou des produits dérivés,
        l’indisponibilité ou l’interruption du travail du Site ou toutes caractéristiques de celui-ci,
        votre utilisation du Site,
        ou de son contenu ou
        de tout retard ou manquement dans l’exécution au-delà du contrôle d’une partie couverte.
        PAIEMENTS
        Vous déclarez et garantissez que si vous achetez un article chez nous ou chez un de nos commerçants et que les informations de crédit que vous fournissez sont exactes et complètes, les frais que vous avez engagés seront honorés par votre société de carte de crédit et vous paierez les frais que vous avez engagés aux prix affichés, y compris les taxes applicables et les frais de traitement. Les frais de traitement sont basés sur le prix total de votre commande ; lorsqu'ils sont inférieurs à 10 $, le montant des frais de traitement de 1 $ est ajouté. Les frais de traitement ne peuvent faire l'objet d'un remboursement ou d'échange.

        <h3>DROIT ET JURIDICTION APPLICABLES</h3>
        En accédant à ce site, vous acceptez que toutes les questions relatives à votre accès et utilisation de ce site Web et / ou de ses produits soient régies par les statuts et les lois de l’État de Floride, sans égard au conflit des lois principes de ceux-ci. Les parties déclinent spécifiquement la Convention des Nations Unies sur les contrats de vente internationale de marchandises. Vous vous engagez également à vous soumettre à la compétence personnelle exclusive et la compétence des tribunaux étatiques et fédéraux du comté de Broward en Floride à l’égard de toutes les questions relatives à votre accès ou à l’utilisation de ce site web et / ou de ses produits.

        <h3>DIVULGATION D’INFORMATION</h3>
        Vous ne pouvez divulguer aucune information de commande, y compris, mais sans s’y limiter, l’identifiant de commande, le lien de téléchargement, etc.

        Notre société se réserve le droit de modifier ou de changer les Conditions d’utilisation sans préavis.
    </div>
{% endblock %}