{% extends 'page.html.twig' %}
{% block title %}FealJob - Développeurs{% endblock %}
{% block body %}
    <div>
        <h3>Un site réalisé par :</h3>
        <ul>
            <li>Luca Ciampi - Développeur Front-End</li>
            <li>Kevin Traini - Développeur Back-End</li>
            <li>Florian Deschenaux - Développeur Back-End</li>
            <li>Kévin Martin-Gomes - Développeur Base de données</li>
            <li>Brunelle Cordier-Bes - Développeuse Base de données</li>
        </ul>
    </div>
{% endblock %}