{% extends 'page.html.twig' %}
{% block title %}Développeurs{% endblock %}
{% block body %}
    <div>
        <h3>Un site réalisé par :</h3>
        <ul>
            <li>Luca Ciampi - Développeur Front-End</li>
            <li>Kevin Traini - Développeur Back-End et base de données</li>
            <li>Florian Deschenaux - Développeur base de données</li>
        </ul>
        <h5>Réalisé en 2021.</h5>
    </div>
{% endblock %}