{% extends 'page.html.twig' %}
{% block title %}Nous contacter{% endblock %}
{% block body %}
    <div class="ui segment vertical">
        <h2>Nous contacter</h2>
        <form class="ui form" style="max-width: 600px;" action="POST">
            <div class="two fields">
                <div class="required field">
                    <label>Nom</label>
                    <input type="text" name="nom" placeholder="Nom" required>
                </div>
                <div class="required field">
                    <label>Adresse e-mail</label>
                    <input type="text" name="mail" placeholder="e-mail" required>
                </div>
            </div>
            <div class="required field">
                <label>Votre message</label>
                <textarea rows="4" name="description"></textarea>
            </div>
            <button class="ui large submit button" type="submit" value="contact">Envoyer</button>
        </form>
    </div>
{% endblock %}
