{% extends 'page.html.twig' %}
{% block title %}Propositions de contrat{% endblock %}
{% block body %}
    <div class="contrats" style="margin-top: 20px;">
        <div class="candidatures" style="margin-top: 20px;">
            <h2 class="ui center aligned green header">
                <div class="content">Candidatures reçues</div>
            </h2>
            <div id="candidaturesList" class="ui segment stacked divided items">
                <div class="ui placeholder">
                    <div class="image header">
                        <div class="short line"></div>
                        <div class="medium line"></div>
                    </div>
                </div>
                <div class="ui placeholder">
                    <div class="image header">
                        <div class="short line"></div>
                        <div class="medium line"></div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="ui center aligned green header">
            <div class="content">Propositions envoyées</div>
        </h2>
        <div id="contratsList" class="ui segment stacked divided items">
            <div class="ui placeholder">
                <div class="image header">
                    <div class="short line"></div>
                    <div class="medium line"></div>
                </div>
            </div>
            <div class="ui placeholder">
                <div class="image header">
                    <div class="short line"></div>
                    <div class="medium line"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type='text/javascript'>
        window.addEventListener("DOMContentLoaded", (event) => {
            loadCandidatures();
            loadContrats()
        });

        // Le Particulier récupère toutes ses candidatures => {'candidatures': Annonce[]}
        function loadCandidatures() {
            $.ajax({
                url: '/particulier/get/my/candidatures',
                type: 'POST',
                dataType: 'json',
                success: function (results) {
                    displayCandidatures(results);
                }
            });
        }

        // Le Particulier récupère toutes ses propositions => {'propositions': Annonce[]}
        function loadContrats() {
            $.ajax({
                url: '/particulier/get/my/propositions',
                type: 'POST',
                dataType: 'json',
                success: function (results) {
                    displayContrats(results)
                }
            });
        }

        /*
         * classe correspondant à l'item proposition de contrat affiché dans la vue contrats
         */
        class Contrat {
            constructor(id, nom, ville, updatedAt, date, description, idFreelance) {
                if (!nom.length > 0) nom = 'Annonce n°' + id;
                date = date.substr(0, 10).split('-');
                date = date[2] + '-' + date[1] + '-' + date[0];
                description = truncate(description, MAX_DESCRIPTION_LENGTH, true)
                //url vers le profil du freelance à qui est destinée la proposition
                let url = "#"

                this.contratTemplate = `
                <div class="contrat ui item">
                    <div class="content">
                        <div class="ui left floated">
                            <div class="ui header small">${nom} <span class="textGreen">pour</span> <a href="${url}">Charles</a></div>
                            <div class="meta">
                                <span class="date">Pour le ${date}</span>
                            </div>
                        </div>
                        <div class="extra">
                            <div class="ui right floated buttons">
                                <button id="undoBtn${id}" class="ui red basic button undoBtn" onclick="requestCancelProposition(${id}, ${idFreelance})">Annuler</button>
                            </div>
                        </div>
                    </div>
                </div>`;
            }
        }

        /*
         * classe correspondant à l'item candidature dans la vue contrats
         */
        class Candidature {
            constructor(id, nom, rue, codePostal, ville, createdAt, date, description) {
                if (!nom.length > 0) nom = 'Annonce n°' + id;
                date = date.substr(0, 10).split('-');
                date = date[2] + '-' + date[1] + '-' + date[0];
                description = truncate(description, MAX_DESCRIPTION_LENGTH, true)

                this.candidatureTemplate = `
                <div class="candidature ui item">
                    <div class="content">
                        <div class="ui left floated">
                            <div class="ui header small">${nom} à ${ville}</div>
                            <div class="meta">
                                <span class="date">Pour le ${date}</span>
                            </div>
                        <div class="description">${description}</div>
                        </div>
                        <div class="extra">
                            <div class="ui right floated buttons">
                                <button id="denyBtn${id}" class="ui red basic button undoBtn" onclick="requestDenyContrat(${id})">Refuser</button>
                                <button id="acceptBtn${id}" class="ui green basic button undoBtn" onclick="requestAcceptContrat(${id})">Accepter</button>
                            </div>
                        </div>
                    </div>
                </div>`;
            }
        }

        // ----- Annuler proposition contrat ----- //
        function requestCancelProposition(idAnn, idAuto) {
            makeRequestByORSC('/remove/proposition/' + idAnn + '/' + idAuto, displayCancelProposition(id))
        }

        // Affiche l'annulation
        function displayCancelProposition(id) {
            let btnNo = 'undoBtn' + id
            let btn = document.getElementById(btnNo)
            btn.innerHTML = 'Annulée'
        }

        // ----- Refus proposition contrat ----- //
        // Refuse proposition contrat
        function requestDenyContrat(id) {
            makeRequestByORSC('/particulier/refuse/proposition/' + id, displayDeny(id))
        }

        // Affiche le refus proposition contrat
        function displayDeny(id) {
            let btnNo = 'denyBtn' + id
            let btn = document.getElementById(btnNo)
            btn.innerHTML = 'Refusée'
        }

        // ----- Acceptation proposition contrat ----- //
        // Acceptation proposition contrat
        function requestAcceptContrat(id) {
            makeRequestByORSC('/particulier/accept/proposition/' + id, displayAccept(id))
        }

        // Affiche l'acceptation proposition contrat
        function displayAccept(id) {
            let btnNo = 'acceptBtn' + id
            let btn = document.getElementById(btnNo)
            btn.innerHTML = 'Acceptée'
        }

        // Affiche la liste des contrats dans la vue contrats
        const contratsList = document.getElementById('contratsList');

        function displayContrats(results) {
            // Réinitialise la liste
            contratsList.innerHTML = '';

            console.log('display contrats')
            console.log(results)
            // Il n'y a pas de résultats :
            if (results.propositions == undefined || results.propositions.length == 0) {
                contratsList.innerHTML = `<div>Pas de proposition de contrat.</div>`;
            }
            // Il y a des résultats :
            // Pour chaque proposition
            if (results.length == 0) {
                console.log('pas de propositions')
            }
            results.propositions.forEach(proposition => {
                let card = new Contrat(proposition.identity, proposition.nom, proposition.adresse.ville, proposition.updatedAt, proposition.date, proposition.description, 3);
                contratsList.innerHTML += card.contratTemplate;
            })
        }

        // Affiche la liste des candidatures dans la vue contrats
        const candidaturesList = document.getElementById('candidaturesList');

        function displayCandidatures(results) {
            // Réinitialise la liste
            candidaturesList.innerHTML = '';

            console.log('displaycandidatures:')
            console.log(results);
            // Il n'y a pas de résultats :
            if (results.candidatures === undefined || results.candidatures.length == 0) {
                candidaturesList.innerHTML = `<div>Pas de candidatures.</div>`;
            }

            // Il y a des résultats :
            results.candidatures.forEach(candidature => {
                let card = new Candidature(candidature.identity, candidature.nom, candidature.adresse.rue, candidature.adresse.codePostal, candidature.adresse.ville, candidature.createdAt, candidature.date, candidature.description);
                candidaturesList.innerHTML += card.candidatureTemplate;
            })
        }
    </script>
{% endblock %}