{% extends 'page.html.twig' %}
{% block title %}Ajout crédits{% endblock %}
{% block body %}
    <div class="ui steps">
        <div class="active step">
            <i class="payment icon"></i>
            <div class="content">
                <div class="title">Carte bancaire</div>
                <div class="description">Payer par carte bancaire</div>
            </div>
        </div>
    </div>
{% endblock %}