{% extends 'page.html.twig' %}
{% block title %}Propositions de contrat{% endblock %}
{% block body %}
    <div class="contrats" style="margin-top: 20px;">
        <h2 class="ui center aligned header">
            <div class="content">Vos propositions de contrat</div>
        </h2>
        <div id="contratsList" class="ui segment stacked">
            <div class="ui placeholder">
                <div class="image header">
                    <div class="short line"></div>
                    <div class="medium line"></div>
                </div>
            </div>
            <div class="ui placeholder">
                <div class="image header">
                    <div class="short line"></div>
                    <div class="medium line"></div>
                </div>
            </div>
        </div>
        <div id="modalAccept" class="ui modal">
            <i class="close icon"></i>
            <div class="header">
                Êtes-vous sûr ?
            </div>
            <div class="content">
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur deserunt harum id nemo
                        nihil
                        nobis nulla officia officiis porro possimus quaerat quis recusandae reprehenderit sunt, vel
                        vitae
                        voluptas, voluptatum!</p>
                </div>
            </div>
            <div class="actions">
                <div class="ui cancel button">
                    <i class="icon times"></i>
                    Annuler
                </div>
                <div class="ui green button acceptBtn">
                    <i class="checkmark icon"></i>
                    Valider
                </div>
            </div>
        </div>
        <div id="modalDeny" class="ui modal">
            <i class="close icon"></i>
            <div class="header">
                Êtes-vous sûr ?
            </div>
            <div class="content">
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur deserunt harum id nemo
                        nihil
                        nobis nulla officia officiis porro possimus quaerat quis recusandae reprehenderit sunt, vel
                        vitae
                        voluptas, voluptatum!</p>
                </div>
            </div>
            <div class="actions">
                <div class="ui cancel button">
                    <i class="icon times"></i>
                    Annuler
                </div>
                <div class="ui red button declineBtn">
                    <i class="times icon"></i>
                    Refuser
                </div>
            </div>
        </div>
    </div>
    <div class="candidatures" style="margin-top: 20px;">
        <h2 class="ui center aligned header">
            <div class="content">Vos candidatures</div>
        </h2>
        <div id="candidaturesList" class="ui segment stacked">
            <div class="ui placeholder">
                <div class="image header">
                    <div class="short line"></div>
                    <div class="medium line"></div>
                </div>
            </div>
            <div class="ui placeholder">
                <div class="image header">
                    <div class="short line"></div>
                    <div class="medium line"></div>
                </div>
            </div>
        </div>
        <div id="modalAccept" class="ui modal">
            <i class="close icon"></i>
            <div class="header">
                Êtes-vous sûr ?
            </div>
            <div class="content">
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur deserunt harum id nemo
                        nihil
                        nobis nulla officia officiis porro possimus quaerat quis recusandae reprehenderit sunt, vel
                        vitae
                        voluptas, voluptatum!</p>
                </div>
            </div>
            <div class="actions">
                <div class="ui cancel button">
                    <i class="icon times"></i>
                    Annuler
                </div>
                <div class="ui green button acceptBtn">
                    <i class="checkmark icon"></i>
                    Valider
                </div>
            </div>
        </div>
        <div id="modalDeny" class="ui modal">
            <i class="close icon"></i>
            <div class="header">
                Êtes-vous sûr ?
            </div>
            <div class="content">
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur deserunt harum id nemo
                        nihil
                        nobis nulla officia officiis porro possimus quaerat quis recusandae reprehenderit sunt, vel
                        vitae
                        voluptas, voluptatum!</p>
                </div>
            </div>
            <div class="actions">
                <div class="ui cancel button">
                    <i class="icon times"></i>
                    Annuler
                </div>
                <div class="ui red button declineBtn">
                    <i class="times icon"></i>
                    Refuser
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type='text/javascript'>
        window.addEventListener("DOMContentLoaded", (event) => {
            loadContrats();
            setTimeout(loadCandidatures, 2000);
        });

        /*
         * classe correspondant à l'item candidature dans la vue contrats
         */
        class Candidature {
            constructor(id, nom, rue, codePostal, ville, createdAt, date, description) {
                if (!nom.length > 0) nom = 'Annonce n°' + id;
                date = date.substr(0, 10).split('-');
                date = date[2] + '-' + date[1] + '-' + date[0];
                let url = "{{ path('particulier_show_annonce', {'id': 1}) }}".slice(0, -1) + id;

                this.candidatureTemplate = `
                <div class="candidature ui vertical segment grid">
                    <div class="ui left floated ten wide column">
                        <div class="header">${id} - ${nom}</div>
                        <div class="meta">
                            <span class="date">${date}</span>
                        </div>
                    </div>
                    <div class="ui right floated three wide column">
                        <button id="undoBtn${id}" class="ui red button undoBtn" onclick="requestUncandidate(${id})">Annuler</button>
                        <a href="${url}" class="ui blue button btnAccept">Voir</a>
                    </div>
                </div>`;
            }
        }

        // Demande à décandidater
        function requestUncandidate(id) {
            makeRequestByORSC('/particulier/uncandidate/'+id, displayUncandidate(id))
        }

        function displayUncandidate(id) {
            let btnNo = '#undoBtn' + id
            let btn = document.querySelector(btnNo)
            btn.innerHTML = 'Annulée'
        }

        function showModalAccept(contratID) {
            $('#modalAccept')
                .modal('setting', 'transition', 'fade up')
                .modal('show')
            ;
            $('.acceptBtn').click(function () {
                console.log('accepted ' + contratID)
                $('#modalAccept')
                    .modal('setting', 'transition', 'fade down')
                    .modal('hide')
                $('#proposition' + contratID).remove()
                ;
            })
        }

        function showModalDecline(contratID) {
            $('#modalDeny')
                .modal('setting', 'transition', 'fade up')
                .modal('show')
            ;
            $('.declineBtn').click(function () {
                console.log('refused ' + contratID)
                $('#modalDeny')
                    .modal('setting', 'transition', 'fade down')
                    .modal('hide')
                $('#proposition' + contratID).remove()
                ;
            })
        }
    </script>
{% endblock %}