{% extends 'page.html.twig' %}
{% block title %}Propositions de contrat{% endblock %}
{% block body %}
    <div class="contrats" style="margin-top: 20px;">
        <h2 class="ui center aligned header">
            <div class="content">Vos propositions de contrat</div>
        </h2>
        <div id="contratsList" class="ui segment stacked">
            <div class="ui placeholder">
                <div class="image header">
                    <div class="short line"></div>
                    <div class="medium line"></div>
                </div>
            </div>
            <div class="ui placeholder">
                <div class="image header">
                    <div class="short line"></div>
                    <div class="medium line"></div>
                </div>
            </div>
        </div>
        <div id="modalAccept" class="ui modal">
            <i class="close icon"></i>
            <div class="header">
                Êtes-vous sûr ?
            </div>
            <div class="content">
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur deserunt harum id nemo
                        nihil
                        nobis nulla officia officiis porro possimus quaerat quis recusandae reprehenderit sunt, vel
                        vitae
                        voluptas, voluptatum!</p>
                </div>
            </div>
            <div class="actions">
                <div class="ui cancel button">
                    <i class="icon times"></i>
                    Annuler
                </div>
                <div class="ui green button acceptBtn">
                    <i class="checkmark icon"></i>
                    Valider
                </div>
            </div>
        </div>
        <div id="modalDeny" class="ui modal">
            <i class="close icon"></i>
            <div class="header">
                Êtes-vous sûr ?
            </div>
            <div class="content">
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur deserunt harum id nemo
                        nihil
                        nobis nulla officia officiis porro possimus quaerat quis recusandae reprehenderit sunt, vel
                        vitae
                        voluptas, voluptatum!</p>
                </div>
            </div>
            <div class="actions">
                <div class="ui cancel button">
                    <i class="icon times"></i>
                    Annuler
                </div>
                <div class="ui red button declineBtn">
                    <i class="times icon"></i>
                    Refuser
                </div>
            </div>
        </div>
    </div>
    <div class="candidatures" style="margin-top: 20px;">
        <h2 class="ui center aligned header">
            <div class="content">Vos candidatures</div>
        </h2>
        <div id="candidaturesList" class="ui segment stacked">
            <div class="ui placeholder">
                <div class="image header">
                    <div class="short line"></div>
                    <div class="medium line"></div>
                </div>
            </div>
            <div class="ui placeholder">
                <div class="image header">
                    <div class="short line"></div>
                    <div class="medium line"></div>
                </div>
            </div>
        </div>
        <div id="modalAccept" class="ui modal">
            <i class="close icon"></i>
            <div class="header">
                Êtes-vous sûr ?
            </div>
            <div class="content">
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur deserunt harum id nemo
                        nihil
                        nobis nulla officia officiis porro possimus quaerat quis recusandae reprehenderit sunt, vel
                        vitae
                        voluptas, voluptatum!</p>
                </div>
            </div>
            <div class="actions">
                <div class="ui cancel button">
                    <i class="icon times"></i>
                    Annuler
                </div>
                <div class="ui green button acceptBtn">
                    <i class="checkmark icon"></i>
                    Valider
                </div>
            </div>
        </div>
        <div id="modalDeny" class="ui modal">
            <i class="close icon"></i>
            <div class="header">
                Êtes-vous sûr ?
            </div>
            <div class="content">
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur deserunt harum id nemo
                        nihil
                        nobis nulla officia officiis porro possimus quaerat quis recusandae reprehenderit sunt, vel
                        vitae
                        voluptas, voluptatum!</p>
                </div>
            </div>
            <div class="actions">
                <div class="ui cancel button">
                    <i class="icon times"></i>
                    Annuler
                </div>
                <div class="ui red button declineBtn">
                    <i class="times icon"></i>
                    Refuser
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type='text/javascript'>
        window.addEventListener("DOMContentLoaded", (event) => {
            loadContrats();
            setTimeout(loadCandidatures, 2000);
        });

        function showModalAccept(contratID) {
            $('#modalAccept')
                .modal('setting', 'transition', 'fade up')
                .modal('show')
            ;
            $('.acceptBtn').click(function () {
                console.log('accepted ' + contratID)
                $('#modalAccept')
                    .modal('setting', 'transition', 'fade down')
                    .modal('hide')
                $('#proposition' + contratID).remove()
                ;
            })
        }

        function showModalDecline(contratID) {
            $('#modalDeny')
                .modal('setting', 'transition', 'fade up')
                .modal('show')
            ;
            $('.declineBtn').click(function () {
                console.log('refused ' + contratID)
                $('#modalDeny')
                    .modal('setting', 'transition', 'fade down')
                    .modal('hide')
                $('#proposition' + contratID).remove()
                ;
            })
        }
    </script>
{% endblock %}