{% extends 'page.html.twig' %}
{% block title %}Préférences{% endblock %}
{% block body %}
    <div class="ui segment form">
        <h2 class="ui icon header center aligned">
            <i class="settings icon"></i>
            <div class="content">
                Paramètres du compte
                <div class="sub header">Modifiez les paramètres relatifs à votre compte.</div>
            </div>
        </h2>
        <div class="ui vertical segment">
            <h3>Supprimer votre compte</h3>
            <p>Votre compte sera supprimé de notre base de données. Cette action est irréversible.</p>
            <a href="{{ path('delete_account') }}" class="ui negative basic button">Supprimer</a>
        </div>
    </div>
{% endblock %}