{% extends 'base.html.twig' %}
{% block title %}FealJob - Voir un CV{% endblock %}
{% block body %}
    <div style="margin-top: 20px;" class="ui text justified container">
        <h2 class="ui center aligned icon header">
            <i class="address card outline icon"></i>
            Voir le CV (à voir directement depuis le profil d'une personne)
        </h2>
        <button class="ui button">
            <i class="download icon"></i>
            Télécharger le CV
        </button>
        <form class="ui form segment">
            <!-- Identité -->
            <h3 class="ui dividing header">
                <i class="icon user"></i>
                <div class="content">Identité</div>
            </h3>
            <div class="ui two column grid">
                <div class="column four wide">
                    <img src="{{ asset('img/placeholders/elyse.png') }}" alt="photo de profil"
                         class="ui small circular image">
                </div>
                <div class="column ten wide">
                    <div>Jean Valjean</div>
                    <div>Né le 18 octobre 1989</div>
                    <div>Homme</div>
                    <div>Marié</div>
                    <div class="ui divider"></div>
                    <div>Développeur Web</div>
                    <div>16 rue des Coquillages, Paris</div>
                    <div>jean.valjean@gmail.com</div>
                    <div>06 94 23 14 63</div>
                </div>
            </div>
            <!-- Formation -->
            <h3 class="ui dividing header">
                <i class="icon university"></i>
                <div class="content">Formation</div>
            </h3>
            <div class="ui segments">
                <div class="ui segment formation1">
                    <h5 class="ui header">DUT Informatique</h5>
                    <div>Université d'Alsace-Lorraine</div>
                    <div>2012-2014</div>
                </div>
                <div class="ui segment formation2">
                    <h5 class="ui header">Licence Informatique</h5>
                    <div>Université de Bretagne</div>
                    <div>2015-2016</div>
                </div>
            </div>
            <!-- Expérience -->
            <h3 class="ui dividing header">
                <i class="icon dolly"></i>
                <div class="content">Expérience professionnelle</div>
            </h3>
            <div class="ui segments">
                <div class="ui segment experience1">
                    <h5 class="ui header">Stagiaire développeur Java</h5>
                    <div>Sopra Steria</div>
                    <div>2015-2016</div>
                </div>
                <div class="ui segment experience2">
                    <h5 class="ui header">Développeur C++</h5>
                    <div>Le camion à gauffres de Gigi</div>
                    <div>2016-2018</div>
                </div>
            </div>
            <!-- Autres -->
            <h3 class="ui dividing header">
                <i class="icon question circle outline"></i>
                <div class="content">Autres informations</div>
            </h3>
            <div class="ui segment">
                <div class="ui left float icon">
                    <i class="icon check"></i>
                    Dispose du permis B
                </div>
                <div class="ui left float icon">
                    <i class="icon check"></i>
                    Dispose d'un moyen de transport
                </div>
            </div>
        </form>
    </div>
{% endblock %}