{% extends 'page.html.twig' %}
{% block title %}Modération{% endblock %}
{% block body %}
    <div class="ui vertical segment">
        <h3 class="ui header">Gestion comptes</h3>
        <div>
            
        </div>
    </div>
    <div class="ui vertical segment">
        <h3 class="ui header">Gestion notations</h3>
        <div>
            
        </div>
    </div>
    <div class="ui vertical segment">
        <h3 class="ui header">Gestion offres d'emploi</h3>
        <div>
            
        </div>
    </div>
    <div class="ui vertical segment">
        <h3 class="ui header">Gestion annonces</h3>
        <div>
            
        </div>
    </div>
{% endblock %}