{# For all errors including 500 #}
{% extends 'page.html.twig' %}
{% block title %}FealJob - Erreur{% endblock %}
{% block body %}
    <h1>Oups !</h1>

    <p>
        Il semblerait qu'une erreur se soit produite.
        <a href="{{ path('homepage') }}">Retourner à la page d'accueil</a>.
    </p>
    <p>
        Ou :
        <a href="{{ path('contact') }}">Nous faire part de cette erreur</a>.
    </p>
{% endblock %}